{% load widget_tweaks %}

<div class="modal fade" id="updateModal">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Work Order</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
<div class="modal-body">

<div class="row">
  <div class="col-sm-6">
    <div class="form-group">
        <label>Work Order No:</label>
        {{ form.instance.id }}
    </div>
 </div>

<div class="col-sm-6">
   <div class="form-group">
        <label>Created Date:</label>
        <span href="#" data-toggle="tooltip" data-placement="left" title="Hooray!">{{ form.instance.created_date|date:"D d/m/y h:m" }}</span>

      </div>
</div>

</div>

<form action="{% url 'workorder_update' form.instance.id %}" method="POST" enctype="multipart/form-data">{% csrf_token %}

<div class="row">
  <div class="col-sm-6">
    <div class="form-group">
        <label>*Customer:</label>
        {% render_field form.customer class="form-control" %}
    </div>
 </div>

<div class="col-sm-6">
   <div class="form-group">
        <label>*Description:</label>
        {% render_field form.description class="form-control" rows="1" %}
      </div>
</div>

</div>

<div class="row">
  <div class="col-sm-6">
  <div class="form-group">
        <label>Long Description:</label>
        {% render_field form.description_long_text class="form-control" rows="2" %}
      </div>
  </div>
      <div class="col-sm-6">
        <div class="form-group">
        <label>*Custom Quote:</label>
        {% if form.instance.quote %}
        {% render_field form.custom_quote readonly="" class="form-control"  %}
        {% else %}
        {% render_field form.custom_quote class="form-control"  %}
        {% endif %}

      </div>

  </div>

</div>


<div class="row">
  <div class="col-sm-6">
      <div class="form-group">
        <label>*Customer Contact Date:</label>
        <input name="customer_contact_date" readonly="" value="{{ form.instance.customer_contact_date|date:'d/m/Y H:i' }}" class="form-control" required="" id="id_customer_contact_date_u" type="text">
      </div>
  </div>
<div class="col-sm-6">
       <div class="form-group">
        <label>*Quote Sent Date:</label>
        <input name="quote_sent_date" readonly="" value="{{ form.instance.quote_sent_date|date:'d/m/Y H:i' }}" class="form-control" required="" id="id_quote_sent_date_u" type="text">
      </div>
</div>
</div>


<div class="row">
  <div class="col-sm-6">
    <div class="form-group">
     <label>*Revision:</label>
        {% render_field form.revision class="form-control" %}
      </div>
    </div>

<div class="col-sm-6">
      <div class="form-group">
        <label>*Promised Delivery Date:</label>
        <input name="promised_delivery_date" readonly="" value="{{ form.instance.promised_delivery_date|date:'d/m/Y H:i' }}" class="form-control" required="" id="id_promised_delivery_date_u" type="text">
      </div>
</div>



</div>


<div class="row">
  <div class="col-sm-6">
      <div class="form-group">
        <label>*Job Status:</label>
        {% render_field form.job_status class="form-control" %}
      </div>

  </div>
</div>








<div class="row" style="margin-top: 10px;">
            <div class="col-sm-6">
              <div class="row">
                  <div class="col-sm-4"> Customer Name:</div>
                  <div class="col-sm-8"> {{ form.instance.customer.customer_name }}</div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="row">
                  <div class="col-sm-4"> Contact:</div>
                  <div class="col-sm-8">{{ form.instance.customer.customer_contact }}</div>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="row">
                  <div class="col-sm-4"> Contact Number:</div>
                  <div class="col-sm-8">{{ form.instance.customer.customer_number }}</div>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="row">
                  <div class="col-sm-4"> Email: </div>
                  <div class="col-sm-8"> {{ form.instance.customer.customer_email }} </div>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="row">
                  <div class="col-sm-4"> Address:</div>
                  <div class="col-sm-8"> {{ form.instance.customer.customer_address }} </div>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="row">
                  <div class="col-sm-4"> Task Complete?</div>
                  <div class="col-sm-8">{% if form.instance.all_tasks_complete %} Yes{% else %}No {% endif %}</div>
              </div>
            </div>

</div>


<div class="row">
<div class="box-body">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item"> <a class="nav-link active show" data-toggle="tab" href="#home8" role="tab" aria-selected="true"><span>Tasks</span></a> </li>
            <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#profile8" role="tab" aria-selected="false"><span>Time Cards</span></a> </li>
            <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#messages8" role="tab" aria-selected="false"><span>Purchasing</span></a> </li>
            <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#document" role="tab" aria-selected="false"><span>Documentation</span></a> </li>
          </ul>
          <!-- Tab panes -->
          <div class="tab-content">
<div class="tab-pane active show" id="home8" role="tabpanel">
{% if perms.workorder.add_task or perms.workorder.change_task or perms.workorder.delete_task %}
  <div style="margin-top:5px;">
  <table class="table table-bordered table-sm">
    <thead>
      <tr>
        <th>#Id</th>
        <th>*Description</th>
        <th>*Start Date</th>
        <th>*End Date</th>
        <th>Deu</th>
        <th>*Status</th>
        <th>*Due Date</th>
        <th style="min-width: 15%;">Assigned To</th>

        <th>Action</th>
      </tr>
    </thead>
    <tbody style="border: 1px solid #3a3e52;">
  {{ task_form.management_form }}

  {% for form in task_form.forms %}
  {% for hidden in form.hidden_fields %}
      {{ hidden }}
  {% endfor %}
      <tr class="task_form_fromset">
        <td><span id="taskid">{{ form.id.value }}</span></td>
        <td>{% render_field form.task_description class="form-control" style="width: 15.25rem;" rows="1" %}</td>
        <td><input name="{{ form.start_date.html_name }}" readonly=""  class="form-control" id="id_task_set-{{forloop.counter0}}-start_date" type="text" value="{{ form.instance.start_date|date:'d/m/Y H:i' }}"></td>
        <td><input name="{{ form.end_date.html_name }}" readonly=""  class="form-control" id="id_task_set-{{forloop.counter0}}-end_date" type="text" value="{{ form.instance.end_date|date:'d/m/Y H:i' }}"></td>
        <td><span id="taskdeu">{{ form.instance.task_duration }}</span></td>
        <td>{% render_field form.task_status class="form-control" %}</td>
        <td><input name="{{ form.task_due_date.html_name }}" readonly="" class="form-control" id="id_task_set-{{forloop.counter0}}-task_due_date" type="text" value="{{ form.instance.task_due_date|date:'d/m/Y H:i' }}"></td>
        <td>{% render_field form.task_assigned_to class="form-control" %}</td>
        <td>{{ form.DELETE }}</td>
      </tr>
  {% endfor %}
    </tbody>
  </table>
</div>
{% else %}
<p style="margin-top:5px;">You Don't Have Permission to Access Task</p>
{% endif %}


</div>
            <div class="tab-pane" id="profile8" role="tabpanel">
	{% if perms.workorder.add_timecard or perms.workorder.change_timecard or perms.workorder.delete_timecard %}
<div style="margin-top:5px;">
  <table class="table table-bordered table-sm">
    <thead>
      <tr>
        <th>Time Card#</th>
        <th>Employee</th>
        <th>Start Time</th>
        <th>End Time</th>
        <th>Hrs</th>
        <th>Approved?</th>
        <th>Approved Date</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for timecard in timecards %}
      <tr>
        <td>{{ timecard.id }}</td>
        <td>{{ timecard.employee_name }}</td>
        <td>{{ timecard.start_time|date:"D d/m/y H:i" }}</td>
        <td>{{ timecard.end_time|date:"D d/m/y H:i" }}</td>
        <td>{{ timecard.duration }}</td>
        <td>{% if timecard.approved %} Yes {% else %}No {% endif %}</td>
        <td>{% if timecard.approved_date %} timecard.approved_date {% endif %}</td>

  <td class="text-center">
    <div class="list-icons d-inline-flex">

      <div class="list-icons-item dropdown">
        <a href="#" class="list-icons-item dropdown-toggle" data-toggle="dropdown"><i class="fa fa-file-text"></i></a>
        <div class="dropdown-menu dropdown-menu-right">
          <a href="#" class="dropdown-item" ><i class="fa fa-pencil"></i> Approved</a>
        </div>
      </div>
    </div>
  </td>


      </tr>

     {% endfor %}
    </tbody>
  </table>
</div>

{% else %}
<p style="margin-top:5px;">You Don't Have Permission to Access Time Card</p>
{% endif %}


</div>

<div class="tab-pane" id="messages8" role="tabpanel">
{% if perms.workorder.add_purchase or perms.workorder.change_purchase or perms.workorder.delete_purchase %}
  <div style="margin-top:5px;">
    <table class="table table-bordered table-sm">
    <thead>
      <tr>
        <th>PO#</th>
        <th>Po Status</th>
        <th>Line Text</th>
        <th>QTY</th>
        <th>Cost</th>
        <th>Gst</th>
        <th>Line Cost</th>
        <th>Promiosed Delivery Date</th>
        <th>Approved?</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for item in items %}
      <tr>
        <td>{{ item.purchase.id }}</td>
        <td>{{ item.purchase.po_status }}</td>
        <td>{{ item.line_text }}</td>
        <td>{{ item.quantity }}</td>
        <td>{{ item.po_cost_ex_gst }}</td>
        <td>{{ item.gst }}</td>
        <td>{{ item.line_cost }}</td>
        <td>{{ item.purchase.promised_delivery_date }}</td>
        <td>{% if item.approved %} Yes {% else %} No {% endif %}</td>

  <td class="text-center">
    <div class="list-icons d-inline-flex">

      <div class="list-icons-item dropdown">
        <a href="#" class="list-icons-item dropdown-toggle" data-toggle="dropdown"><i class="fa fa-file-text"></i></a>
        <div class="dropdown-menu dropdown-menu-right">
          <a href="#" class="dropdown-item" ><i class="fa fa-pencil"></i> Approved</a>
        </div>
      </div>
    </div>
  </td>


      </tr>

     {% endfor %}
    </tbody>
  </table>
  </div>
  {% else %}
  <p style="margin-top:5px;">You Don't Have Permission to Access Purchasing</p>
  {% endif %}

            </div>



<div class="tab-pane" id="document" role="tabpanel">
	{% if perms.workorder.add_documentation or perms.workorder.change_documentation or perms.workorder.delete_documentation %}
  <div style="margin-top:5px;">
  <table class="table table-bordered table-sm">
    <thead>
      <tr>
        <th>ID#</th>
        <th>*Category</th>
        <th>*Files</th>
        <th>Action</th>

      </tr>
    </thead>
    <tbody  style="border: 1px solid #3a3e52;">
      {{ document_form.management_form }}

      {% for form in document_form.forms %}
      {% for hidden in form.hidden_fields %}
          {{ hidden }}
      {% endfor %}
      <tr class="document_form_fromset">
        <td id="doc_id">{{ form.instance.id }}</td>
        <td>{% render_field form.category class="form-control" %}</td>
        <td>{{ form.document }}</td>
        <td>{{ form.DELETE }}</td>


      </tr>

     {% endfor %}
    </tbody>
  </table>
</div>

{% else %}
<p style="margin-top:5px;">You Don't Have Permission to Access Documentation</p>
{% endif %}

          </div>
        </div>

</div>

        </div>

        <p class="top10">
          <button type="submit" class="btn btn-primary pull-right" id="save_btn">Save</button>
          <button type="submit" class="btn btn-primary pull-right right10" id="save_and_close_btn">Save & Close</button>
        </p>
      </form>
      </div>
      </div>
    </div>
  </div>

<style>
.select2-container--default .select2-selection--multiple {
    background-color: #3a3e52;
  }
  .select2-container--default .select2-selection--multiple .select2-selection__choice {
      background-color: #3a3e52;
    }
  .select2-selection--multiple{
    min-width: 120px !important;
  }
/* .add-row{
  position: fixed;
  background: #3e8ef7;
  padding: 7px;
} */
</style>
  <script>

$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();

      $('.task_form_fromset').formset({
        addText: 'ADD TASK',
        deleteText: 'DELETE',
        prefix: 'task_set',
        addCssClass: 'add-row taskclass btn btn-info'
      });

      $('.document_form_fromset').formset({
        addText: 'ADD DOCUMENT',
        deleteText: 'DELETE',
        prefix: 'documentation_set',
        addCssClass: 'add-row documentclass btn btn-info',
      });



$("[id$='task_assigned_to']").select2();
$("[id$='start_date']").datetimepicker({format:'d/m/Y H:i'});
$("[id$='end_date']").datetimepicker({format:'d/m/Y H:i'});
$("[id$='task_due_date']").datetimepicker({format:'d/m/Y H:i'});


$(".taskclass").click(function(){
  $("[id$='task_assigned_to']").select2();
  $("[id$='task_assigned_to']").last().val(null).trigger('change');
  $("[id$='start_date']").datetimepicker({format:'d/m/Y H:i'});
  $("[id$='end_date']").datetimepicker({format:'d/m/Y H:i'});
  $("[id$='task_due_date']").datetimepicker({format:'d/m/Y H:i'});
  $("[id$='task_status']").last().val("In Progress")
  $("[id$='taskid']").last().text("--")
  $("[id$='taskdeu']").last().text("--")



})

$(".documentclass").click(function(){
  $("[id$='doc_id']").last().text("--")
  $("[id$='category']").last().val("")
  $("[id$='document']").last().val("")

})

$("#id_customer_contact_date_u").datetimepicker({format:'d/m/Y H:i'});

$("#id_quote_sent_date_u").datetimepicker({format:'d/m/Y H:i'});

$("#id_promised_delivery_date_u").datetimepicker({format:'d/m/Y H:i'});

$("#save_and_close_btn").click(function(){
  sessionStorage.setItem("save_and_close", "True");
})

$("#save_and_close_btn").click(function(){
  sessionStorage.setItem("save_and_close", "True");
})

$("#save_btn").click(function(){
  sessionStorage.removeItem("save_and_close");
})


});
</script>
