{% extends 'base.html' %}
{% load widget_tweaks %}


{% block content %}


		<div class="content-header">
			<div class="d-flex align-items-center">
				<div class="mr-auto">
					<h3 class="page-title">Work Order List</h3>
					<div class="d-inline-block align-items-center">
						<nav>
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i></a></li>
								<li class="breadcrumb-item" aria-current="page">Work Order</li>
								<li class="breadcrumb-item active" aria-current="page">Work Order List</li>
							</ol>
						</nav>
					</div>
				</div>
				<div class="right-title">
				</div>
			</div>
		</div>


	{% if perms.workorder.add_workorder or perms.workorder.change_workorder or perms.workorder.delete_workorder %}





<section class="content">

		  <div class="row">
			<div class="col-xl-4 col-md-6 col-12 ">
				<div class="box box-inverse box-success">
				  <div class="box-body">
					<div class="flexbox">

					</div>

					<div class="text-center my-2">
					  <div class="font-size-60"><a href="/?open_work_order">{{ open_order }}</a></div>
					  <span>Open Work Orders</span>
					</div>
				  </div>
				</div>
			</div>
			<!-- /.col -->
			<div class="col-xl-4 col-md-6 col-12 ">
				<div class="box box-inverse box-primary">
				  <div class="box-body">
					<div class="flexbox">

					</div>

					<div class="text-center my-2">
					  <div class="font-size-60"><a href="/?work_orders_due_this_week">{{ deu_date }}</a></div>
					  <span>Work Orders Due This week</span>
					</div>
				  </div>
				</div>
			</div>
			<!-- /.col -->

			<div class="col-xl-4 col-md-6 col-12">
				<div class="box box-inverse box-danger">
				  <div class="box-body">
					<div class="flexbox">

					</div>

					<div class="text-center my-2">
					  <div class="font-size-60"><a href="/?work_orders_overdue">{{ overdeu_date }}<a/></div>
					  <span>Work Orders Overdue</span>
					</div>
				  </div>

				</div>
			</div>
			<!-- /.col -->
<!-- 			<div class="col-xl-3 col-md-6 col-12">
				<div class="box box-inverse box-warning">
				  <div class="box-body">
					<div class="flexbox">
					  <h5>Pending Invoice</h5>
					</div>

					<div class="text-center my-2">
					  <div class="font-size-60">00</div>
					  <span>Pending</span>
					</div>
				  </div>
				</div>
			</div> -->
			<!-- /.col -->

		  </div>

		  <div class="row">
				<div class="col-12">
					<div class="box">
						<div class="box-header with-border">
						<div class="pull-right">
							<button type="button" data-toggle="modal" data-target="#myModal" class="btn btn-info">Create Work Order</button>
						</div>
							<h4 class="box-title">Work Order List</h4>
							<h6 class="box-subtitle">Export Work Order List to Copy, CSV, Excel, PDF & Print</h6>
						</div>
						<div class="box-body" id="refreshid">
							<div class="table-responsive">

								<table id="example" class="table table-lg invoice-archive table-hover">
									<thead>
										<tr>
											<th>#Id</th>
											<th>Description</th>
											<th>Quote Sent Date</th>
											<th>Job Status</th>
											<th>Customer Contact Date</th>
											<th>Initial Deu Date</th>
											<th>Quote</th>
											<th>#Invoice</th>
											<th class="text-center">Actions</th>
										</tr>
									</thead>
									<tbody>

									{% for workorder in workorders %}
										<tr>
											<td><a id="workorder_edit" href="#" data-url = "{% url 'workorder_update' workorder.id %}">#{{ workorder.id }}</a></td>
											<td id="mainvaluetd" >
											<div id="mainvalue{{ workorder.id }}" dbid="{{ workorder.id }}" onclick="edu(this);">
												{{ workorder.description }}
											</div>
											<div id="editable{{ workorder.id }}" style="display:none;">
												<textarea id="edittext{{ workorder.id }}" class="form-control" rows="1"></textarea>
												<div class="pull-right acx" style="margin-top:5px;">
													<button type="button" data-url="{% url 'workorder_description_update' workorder.id %}" class="btn btn-info btn-xs" dbid="{{ workorder.id }}" id="add_save{{ workorder.id }}" onclick="addbtn(this)"><i class="glyphicon glyphicon-ok"></i></button>
													<button type="button" class="btn btn-info btn-xs" dbid="{{ workorder.id }}" id="edit_remove{{ workorder.id }}" onclick="removebtn(this)"><i class="glyphicon glyphicon-remove"></i></button>
												</div>
											</div>
											</td>
											<td> {{ workorder.quote_sent_date|date:"D d/m/y H:i" }}	</td>
											<td>
												<form method="post" action="">{% csrf_token %}
													<select class="form-control" id="workworder_status_dropdown_id" data-url="{% url 'workorder_status_update' workorder.id %}">
														{% for k,v in job_status %}
												   		<option value="{{ k }}" {% if workorder.job_status == k %} selected="" {% endif %} >{{ v }}</option>
													  {% endfor %}
												 </select>
												</form>
											</td>
											<td>
												{{ workorder.customer_contact_date|date:"D d/m/y H:i" }}
											</td>
											<td>
												<span class="badge badge-success"> {{ workorder.initial_deu_date|date:"D d/m/y H:i" }}</span>
											</td>
											<td>
												<h6 class="mb-0 font-weight-bold">
											{% if workorder.quote %}<a href="#" id="quote_edit" data-url = "{% url 'quote_update' workorder.quote.id %}">#{{ workorder.quote.id }}</a> {% else %}-- {% endif %}
												</h6>
											</td>
											<td>
												{% if perms.workorder.add_invoice or perms.workorder.change_invoice or perms.workorder.delete_invoice %}
												<a href="#" data-url="/invoice/update/{{workorder.invoice.id}}/" id="work_to_invoice" >#{{ workorder.invoice.id }}</a>
												{% else %}
												#{{ workorder.invoice.id }}
												{% endif %}
											</td>

											<td class="text-center">
												<div class="list-icons d-inline-flex">
													<div class="list-icons-item dropdown">
														<a href="#" class="list-icons-item dropdown-toggle" data-toggle="dropdown"><i class="fa fa-file-text"></i></a>
														<div class="dropdown-menu dropdown-menu-right">
															<a href="#" class="dropdown-item" id="workorder_edit" data-url = "{% url 'workorder_update' workorder.id %}" >
																<i class="fa fa-pencil"></i> Edit</a>
															<a href="{% url 'workorder_delete' workorder.id %}" class="dropdown-item"><i class="fa fa-remove"></i> Remove</a>
														</div>
													</div>
												</div>
											</td>
										</tr>

										{% endfor %}



									</tbody>
								</table>

							</div>
						</div>
					</div>
				</div>
			</div>
		  <!-- /.row -->

		</section>


<div class="modal fade" id="myModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Create Work Order</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
              <div class="form-group">


      <form action="{% url 'workorder_create' %}" method="POST" id="workcreate">{% csrf_token %}
				<p id="errmsg" style="color:##f64e4e;"></p>
<div class="row">
	<div class="col-sm-6">
		<div class="form-group">
      	<label>*Customer:</label>
        {% render_field work_form.customer class="form-control" %}
    </div>
 </div>

<div class="col-sm-6">
	 <div class="form-group">
      	<label>*Description:</label>
        {% render_field work_form.description class="form-control" rows="1" %}
      </div>
</div>

</div>

<div class="row">
	<div class="col-sm-6">
	<div class="form-group">
      	<label>Long Description:</label>
        {% render_field work_form.description_long_text class="form-control" rows="1" %}
      </div>
  </div>
      <div class="col-sm-6">
      	<div class="form-group">
      	<label>*Custom Quote:</label>
        {% render_field work_form.custom_quote required="" class="form-control"  %}
      </div>

	</div>

</div>


<div class="row">
	<div class="col-sm-6">
      <div class="form-group">
      	<label>*Customer Contact Date:</label>
				<input name="customer_contact_date" class="form-control" required="" id="id_customer_contact_date" readonly="" type="text" value="{% now 'd/m/Y H:i' %}">
      </div>
	</div>
<div class="col-sm-6">
       <div class="form-group">
       	<label>*Quote Sent Date:</label>
				<input name="quote_sent_date" class="form-control" required="" id="id_quote_sent_date" readonly="" type="text"  value="{% now 'd/m/Y H:i' %}">

      </div>
</div>
</div>


<div class="row">
	<div class="col-sm-6">
 		<div class="form-group">
 		 <label>*Revision:</label>
        {% render_field work_form.revision class="form-control" %}
      </div>
    </div>

<div class="col-sm-6">
      <div class="form-group">
      	<label>*Promised Delivery Date:</label>
        {% render_field work_form.promised_delivery_date readonly="" class="form-control" required="" %}
      </div>
</div>



</div>


<div class="row">
	<div class="col-sm-6">
      <div class="form-group">
      	<label>*Job Status:</label>
        {% render_field work_form.job_status class="form-control" %}
      </div>

	</div>
</div>





<p class="top10">
	<button type="submit" class="btn btn-primary pull-right">Submit</button>
	<button type="button" class="btn btn-danger pull-right right10" data-dismiss="modal">Close</button>
</p>

      </form>

    </div>
        </div>


      </div>
    </div>
  </div>

  <div id="editcontainer"></div>

  {% else %}

  <div class="col-sm-6" style="margin-top: 30px">
	<div class="alert alert-danger">
	  <strong>Permission Denied!</strong> You do not have access this section.
	</div>
  </div>

  {% endif %}

{% endblock %}
