{% extends 'base.html' %}
{% load widget_tweaks %}


{% block content %}


		<div class="content-header">
			<div class="d-flex align-items-center">
				<div class="mr-auto">
					<h3 class="page-title">Documentation List</h3>
					<div class="d-inline-block align-items-center">
						<nav>
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i></a></li>
								<li class="breadcrumb-item" aria-current="page">Documentation</li>
								<li class="breadcrumb-item active" aria-current="page">Documentation List
								</li>
							</ol>
						</nav>
					</div>
				</div>
				<div class="right-title">
				</div>
			</div>
		</div>

	{% if perms.workorder.add_documentation or perms.workorder.change_documentation or perms.workorder.delete_documentation %}

<section class="content">

		  <div class="row">
				<div class="col-12">
					<div class="box">
						<div class="box-header with-border">
						<div class="pull-right">
							<button type="button" data-toggle="modal" data-target="#myModal" class="btn btn-info">Attach Document</button>
						</div>
							<h4 class="box-title">Documentation List</h4>
							<h6 class="box-subtitle">Export Documentation List to Copy, CSV, Excel, PDF & Print</h6>
						</div>
						<div class="box-body">
							<div class="table-responsive">

								<table id="example" class="table table-lg invoice-archive">
									<thead>
										<tr>
											<th>#</th>
											<th>Work Order</th>
											<th>Document</th>
											<th class="text-center">Actions</th>
										</tr>
									</thead>
									<tbody>

									{% for document in documentation_list %}
										<tr>
											<td><a href="#" data-url="{% url 'document_update' document.id %}" id="doc_edit">#{{ document.id }}</a></td>
											<td>{{ document.work_order }}</td>
											<td>{{ document.category }}</td>
											<td class="text-center">
												<div class="list-icons d-inline-flex">
													<div class="list-icons-item dropdown">
														<a href="#" class="list-icons-item dropdown-toggle" data-toggle="dropdown"><i class="fa fa-file-text"></i></a>
														<div class="dropdown-menu dropdown-menu-right">
															<a href="#" class="dropdown-item" data-url="{% url 'document_update' document.id %}" id="doc_edit"><i class="fa fa-pencil"></i> Edit</a>
<a href="{{ document.document.url }}" class="dropdown-item"><i class="fa fa-download"></i> Download</a>

<a href="{% url 'documentation_delete' document.id %}" class="dropdown-item"><i class="fa fa-remove"></i> Remove</a>
														</div>
													</div>
												</div>
											</td>
										</tr>

										{% endfor %}



									</tbody>
								</table>

							</div>
						</div>
					</div>
				</div>
			</div>
		  <!-- /.row -->

		</section>


<div class="modal fade" id="myModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title"> Create Documentation</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
              <div class="form-group">


      <form action="{% url 'documentation_create' %}" method="POST" enctype="multipart/form-data">{% csrf_token %}

	<div class="form-group">
		<label>*Work Order:</label>
		{% render_field documentation_form.work_order class="form-control" %}
	</div>

	<div class="form-group">
		<label>*Category:</label>
		{% render_field documentation_form.category class="form-control" %}
	</div>

	<div class="form-group">
		<label>*Document:</label>
		{% render_field documentation_form.document class="form-control" %}
	</div>

<p class="top10">
	<button type="submit" class="btn btn-primary pull-right">Submit</button>
	<button type="button" class="btn btn-danger pull-right right10" data-dismiss="modal">Close</button>
</p>

      </form>

    </div>
        </div>
      </div>
    </div>
  </div>


  <div id="editcontainer">

  </div>


      {% else %}

  <div class="col-sm-6" style="margin-top: 30px">
	<div class="alert alert-danger">
	  <strong>Permission Denied!</strong> You do not have access this section.
	</div>
  </div>

  {% endif %}

{% endblock %}
