{% load widget_tweaks %}
<div class="modal fade" id="updateModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Update Documentation</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
              <div class="form-group">


      <form action="{% url 'document_update' form.instance.id %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
  <div class="form-group">
    <label>*Work Order:</label>
    {% render_field form.work_order class="form-control" %}
  </div>

  <div class="form-group">
    <label>*Category:</label>
    {% render_field form.category class="form-control" %}
  </div>

  <div class="form-group">
    <label>*Document:</label>
    {% render_field form.document class="form-control" %}
  </div>

<p class="top10">
  <button type="submit" class="btn btn-primary pull-right">Submit</button>
  <button type="button" class="btn btn-danger pull-right right10" data-dismiss="modal">Close</button>
</p>

      </form>

    </div>
        </div>


      </div>
    </div>
  </div>
