{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}


		<div class="content-header">
			<div class="d-flex align-items-center">
				<div class="mr-auto">
					<h3 class="page-title">Purchase Order List</h3>
					<div class="d-inline-block align-items-center">
						<nav>
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i></a></li>
								<li class="breadcrumb-item" aria-current="page">Purchasing</li>
								<li class="breadcrumb-item active" aria-current="page">Purchase Order List
								</li>
							</ol>
						</nav>
					</div>
				</div>
				<div class="right-title">
				</div>
			</div>
		</div>

	{% if perms.workorder.add_purchase or perms.workorder.change_purchase or perms.workorder.delete_purchase %}


<section class="content">

		  <div class="row">
			<div class="col-xl-4 col-md-6 col-12 ">
				<div class="box box-inverse box-success">
				  <div class="box-body">
					<div class="flexbox">

					</div>

					<div class="text-center my-2">
					  <div class="font-size-60"> <a href="/purchase/list/?po_not_approved">{{ PO_not_approved }}</a> </div>
					  <span>PO not approved</span>
					</div>
				  </div>
				</div>
			</div>
			<!-- /.col -->
			<div class="col-xl-4 col-md-6 col-12 ">
				<div class="box box-inverse box-primary">
				  <div class="box-body">
					<div class="flexbox">
					</div>

					<div class="text-center my-2">
					  <div class="font-size-60">{{ total_qty }}</div>
					  <span>PO not Received yet</span>
					</div>
				  </div>
				</div>
			</div>
			<!-- /.col -->

			<div class="col-xl-4 col-md-6 col-12">
				<div class="box box-inverse box-danger">
				  <div class="box-body">
					<div class="flexbox">
					</div>

					<div class="text-center my-2">
					  <div class="font-size-60"><a href="/purchase/list/?po_approved">{{ PO_approved }}</a></div>
					  <span>PO is approved</span>
					</div>
				  </div>

				</div>
			</div>
			<!-- /.col -->
<!-- 			<div class="col-xl-3 col-md-6 col-12">
				<div class="box box-inverse box-warning">
				  <div class="box-body">
					<div class="flexbox">
					  <h5>Pending Invoice</h5>
					</div>

					<div class="text-center my-2">
					  <div class="font-size-60">00</div>
					  <span>Pending</span>
					</div>
				  </div>
				</div>
			</div> -->
			<!-- /.col -->

		  </div>

		  <div class="row">
				<div class="col-12">
					<div class="box">
						<div class="box-header with-border">
						<div class="pull-right">
							<!-- <a href="#" id="purchase_create" data-url="{% url 'purchase_create' %}"><i class="fa fa-plus-square-o fa-2x" aria-hidden="true"></i></a> -->
							<button type="button" id="purchase_create" data-url="{% url 'purchase_create' %}" class="btn btn-info">Create Purchase Order</button>
						</div>
							<h4 class="box-title">Purchase Order List</h4>
							<h6 class="box-subtitle">Export Purchase List to Copy, CSV, Excel, PDF & Print</h6>
						</div>
						<div class="box-body">
							<div class="table-responsive">

								<table id="example" class="table table-lg invoice-archive">
									<thead>
										<tr>
											<th>PO#</th>
											<th>PO Status</th>
											<th>Cost</th>
											<th>Vendor</th>
											<th>Promised Delivery Date</th>
											<th>Approved?</th>
											<th class="text-center">Actions</th>
										</tr>
									</thead>
									<tbody>

									{% for purchase in purchase_list %}
										<tr>
											<td><a href="#" id = "purchase_edit" data-url = "{% url 'purchase_update' purchase.id %}">#{{ purchase.id }}</a></td>
											<td>{{ purchase.po_status }}</td>
											<td>{{ purchase.po_cost|floatformat:2 }}</td>
											<td>{{ purchase.vendor.customer_name }}</td>
											<td>
												<form>{% csrf_token %}
													<input type="text" data-url="{% url 'purchase_promised_delivery_date_update' purchase.id %}" class="form-control" id="promised_delivery_date" value="{{ purchase.promised_delivery_date|date:"d/m/Y H:i" }}" style="width: 60%;"></td>
												</form/>
											<td>
											{% if purchase.approved %}
												Yes
											{% else %}
												No
											{% endif %}
											</td>
											<td class="text-center">
												<div class="list-icons d-inline-flex">
													<div class="list-icons-item dropdown">
														<a href="#" class="list-icons-item dropdown-toggle" data-toggle="dropdown"><i class="fa fa-file-text"></i></a>
														<div class="dropdown-menu dropdown-menu-right">
															<a href="#" class="dropdown-item" id = "purchase_edit" data-url = "{% url 'purchase_update' purchase.id %}"><i class="fa fa-pencil"></i> Edit</a>
															<a href="{% url 'purchase_approved' purchase.id %}" class="dropdown-item"><i class="mdi mdi-check"></i> Approved</a>
															<a href="{% url 'purchase_delete' purchase.id %}" class="dropdown-item"><i class="fa fa-remove"></i> Remove</a>
														</div>
													</div>
												</div>
											</td>
										</tr>

										{% endfor %}



									</tbody>
								</table>

							</div>
						</div>
					</div>
				</div>
			</div>
		  <!-- /.row -->

		</section>

  <div id="editcontainer"></div>

      {% else %}

  <div class="col-sm-6" style="margin-top: 30px">
	<div class="alert alert-danger">
	  <strong>Permission Denied!</strong> You do not have access this section.
	</div>
  </div>

  {% endif %}

{% endblock %}
