{% load widget_tweaks %}
<div class="modal fade" id="updateModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title"> Create Purchase</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
              <div class="form-group">


      <form action="{% url 'purchase_create' %}" method="POST" enctype="multipart/form-data">{% csrf_token %}


<div class="row">
  <div class="col-sm-6">
    <div class="form-group">
          <label>Work Order:</label>
          {% render_field form1.work_order class="form-control" %}
      </div>
  </div>

  <div class="col-sm-6">
     <div class="form-group">
          <label>*PO Status:</label>
          {% render_field form1.po_status class="form-control" %}
        </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="form-group">
          <label>*Vendor:</label>
          {% render_field form1.vendor class="form-control" %}
      </div>
  </div>
  <div class="col-sm-6">
     <div class="form-group">
          <label>*Required Date:</label>
          {% render_field form1.required_date readonly=""  class="form-control" %}
        </div>
  </div>

</div>


<div class="row">
  <div class="col-sm-6">
    <div class="form-group">
          <label>Promised Delivery Date:</label>
          {% render_field form1.promised_delivery_date readonly="" class="form-control" %}
      </div>
  </div>
</div>





<table class="table table-bordered table-sm top10">
    <thead>
		<tr>
			<th>*Line Text</th>
			<th>*QTY</th>
			<th>*Cost</th>
      <th>Received Qty</th>
      <th>Received Date</th>
			<th>Approved?</th>
			<th>Delete</th>
		</tr>
    </thead>
    <tbody>
{{ form2.management_form }}


		{% for form in form2.forms %}
			{% for hidden in form.hidden_fields %}
			    {{ hidden }}
			{% endfor %}
	<tr class="item_form_fromset">
		<td>{% render_field form.line_text class="form-control" placeholder="Line Text" required="" %}</td>
		<td>{% render_field form.quantity class="form-control" required="" %}</td>
		<td>{% render_field form.po_cost_ex_gst class="form-control" required="" %}</td>
    <td>{% render_field form.received_qty class="form-control" %}</td>
    <td>{% render_field form.received_date class="form-control" readonly="" %}</td>
		<td>{% render_field form.approved style="position: relative;left: 0;opacity: 1;margin-left: 25px;" %}</td>
		<td>{{ form.DELETE }}</td>
	</tr>

	{% endfor %}

    </tbody>
  </table>


<p class="top10">
	<button type="submit" class="btn btn-primary pull-right">Submit</button>
	<button type="button" class="btn btn-danger pull-right right10" data-dismiss="modal">Close</button>
</p>
      </form>

    </div>
        </div>

      </div>
    </div>
  </div>
<script>
  $(document).ready(function(){
    $('.item_form_fromset').formset({
      addText: 'ADD ITEMS',
      deleteText: 'DELETE',
      prefix: 'item_set',
    });



$("#id_required_date").datetimepicker({format:'d/m/Y H:i'});
$("#id_promised_delivery_date").datetimepicker({format:'d/m/Y H:i'});

$("[id$='received_date']").datetimepicker({format:'d/m/Y H:i'});

$(".add-row").click(function(){
  $("[id$='received_date']").datetimepicker({format:'d/m/Y H:i'});
  $("[id$='quantity']").last().val("1")
  $("[id$='po_cost_ex_gst']").last().val("0")
  $("[id$='received_qty']").last().val("1")

})

  });
</script>
