{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}

		<div class="content-header">
			<div class="d-flex align-items-center">
				<div class="mr-auto">
					<h3 class="page-title">Quote List</h3>
					<div class="d-inline-block align-items-center">
						<nav>
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i></a></li>
								<li class="breadcrumb-item" aria-current="page">Quote</li>
								<li class="breadcrumb-item active" aria-current="page">Quote List</li>
							</ol>
						</nav>
					</div>
				</div>
				<div class="right-title">
				</div>
			</div>
		</div>
		{% if perms.workorder.add_quote or perms.workorder.change_quote or perms.workorder.delete_quote %}

		<section class="content">

		  <div class="row">
			<div class="col-xl-4 col-md-6 col-12 ">
				<div class="box box-inverse box-success">
				  <div class="box-body">
					<div class="flexbox">

					</div>

					<div class="text-center my-2">
					  <div class="font-size-60"><a href="#">{{ quotes_not_sent.count }}</a></div>
					   <span>Quotes not Sent</span>
					</div>
				  </div>
				</div>
			</div>
			<!-- /.col -->
			<div class="col-xl-4 col-md-6 col-12 ">
				<div class="box box-inverse box-primary">
				  <div class="box-body">
					<div class="flexbox">

					</div>

					<div class="text-center my-2">
					  <div class="font-size-60"><a href="#">{{ past_due_date }}</a></div>
					   <span>Quotes Past Due Date</span>
					</div>
				  </div>
				</div>
			</div>
			<!-- /.col -->

			<div class="col-xl-4 col-md-6 col-12">
				<div class="box box-inverse box-danger">
				  <div class="box-body">
					<div class="flexbox">

					</div>

					<div class="text-center my-2">
					  <div class="font-size-60"><a href="#">0<a/></div>
					  <span>----</span>
					</div>
				  </div>

				</div>
			</div>

		  </div>

		  <div class="row">
				<div class="col-12">
					<div class="box">
						<div class="box-header with-border">
						<div class="pull-right">
							<button type="button" data-toggle="modal" data-target="#myModal" class="btn btn-info">Create Quote</button>
						</div>
							<h4 class="box-title">Quote List</h4>
							<h6 class="box-subtitle">Export Quote List to Copy, CSV, Excel, PDF & Print</h6>
						</div>
						<div class="box-body" id="refreshid">
							<div class="table-responsive">

								<table id="example" class="table table-lg invoice-archive table-hover">
									<thead>
										<tr>
											<th>#Id</th>
											<th>Work Order</th>
											<th>Description</th>
											<th>Quote Request Date</th>
											<th>Quote Sent Date</th>
											<th>Quote Amount</th>
											<th>Quote Status</th>
											<th class="text-center">Actions</th>

										</tr>
									</thead>

									<tbody>
										{% for quote in quote_list%}
										<tr>
											<td><a href="#" id="quote_edit" data-url = "{% url 'quote_update' quote.id %}">#{{ quote.id }}</a></td>
											<td>
												{% if perms.workorder.add_workorder or perms.workorder.change_workorder or perms.workorder.delete_workorder %}
												<a {% if quote.workorder %} id="workorder_edit" href="#" data-url = "{% url 'workorder_update' quote.workorder.id %}"{% endif %}>{% if quote.workorder %}#{{ quote.workorder.id }}{% else %}--{% endif %}</a>
												{% else %}
												{% if quote.workorder %}#{{ quote.workorder.id }}{% else %}--{% endif %}
												{% endif %}
											</td>
											<td>{{ quote.description }}</td>
											<td>{{ quote.quote_request_date|date:"D d/m/y H:i" }}</td>
											<td>{% if quote.quote_sent_date %}{{ quote.quote_sent_date|date:"D d/m/y H:i" }}{% else %}--{% endif %}</td>
											<td>{{ quote.quote_amount }}</td>
											<td>
												<form method="post" action="">{% csrf_token %}
												<select class="form-control" id="quote_status" data-url="{% url 'quote_status_update' quote.id %}">
													{% for k,v in quote_status %}
													<option value="{{ k }}" {% if k == quote.quote_status %} selected {% endif %}>{{ k }}</option>
													{% endfor %}
												</select>
											</form>
											</td>


											<td class="text-center">
												<div class="list-icons d-inline-flex">
													<div class="list-icons-item dropdown">
														<a href="#" class="list-icons-item dropdown-toggle" data-toggle="dropdown"><i class="fa fa-file-text"></i></a>
														<div class="dropdown-menu dropdown-menu-right">
															<a href="#" class="dropdown-item" id="quote_edit" data-url = "{% url 'quote_update' quote.id %}" >
																<i class="fa fa-pencil"></i> Edit</a>
															<a href="{% url 'quote_delete' quote.id %}" class="dropdown-item"><i class="fa fa-remove"></i> Remove</a>
														</div>
													</div>
												</div>
											</td>

										</tr>
										{% endfor %}
									</tbody>

								</table>
								</div>
								</div>
					</div>
				</div>
			</div>

		</section>


<div class="modal fade" id="myModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Create Quote</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
              <div class="form-group">


<form action="{% url 'quote_create' %}" method="POST" id="quoteform">{% csrf_token %}
<p id="errmsg" style="color:##f64e4e;"></p>
<div class="row">
	<div class="col-sm-6">
		<div class="form-group">
      	<label>*Customer:</label>
        {% render_field quote_form.customer class="form-control" %}
    </div>
 </div>

<div class="col-sm-6">
	 <div class="form-group">
      	<label>*Description:</label>
        {% render_field quote_form.description class="form-control" rows="1" %}
      </div>
</div>

</div>

<div class="row">
	<div class="col-sm-6">
	<div class="form-group">
      	<label>*Long Description:</label>
        {% render_field quote_form.description_long_text class="form-control" rows="6" %}
      </div>
  </div>
      <div class="col-sm-6">
				<div class="row">
					<div class="col-sm-12">
		      	<div class="form-group">
		      	<label>*Quote Amount:</label>
		        {% render_field quote_form.quote_amount class="form-control"  %}
		      	</div>
				</div>
				<div class="col-sm-12">
					<div class="form-group">
					<label>*Custom Quote:</label>
					{% render_field quote_form.custom_quote class="form-control"  %}
					</div>
			</div>
				</div>
			</div>

</div>


<div class="row">
	<div class="col-sm-6">
      <div class="form-group">
      	<label>*Customer Contact Date:</label>
		<input name="customer_contact_date" class="form-control" readonly="" required="" id="id_customer_contact_date"  type="text" value="{% now 'd/m/Y H:i' %}">
      </div>
	</div>
<div class="col-sm-6">
       <div class="form-group">
       	<label>*Promised Delivery Date:</label>
       	{% render_field quote_form.promised_delivery_date readonly="" class="form-control"  %}

      </div>
</div>
</div>


<div class="row">
	<div class="col-sm-6">
 		<div class="form-group">
 		 <label>*Quote Request Date:</label>
        {% render_field quote_form.quote_request_date readonly="" class="form-control" %}
      </div>
    </div>
	<div class="col-sm-6">
      <div class="form-group">
      	<label>*Quote Status:</label>
        {% render_field quote_form.quote_status class="form-control" %}
      </div>

	</div>
</div>

<p class="top10">
	<button type="submit" class="btn btn-primary pull-right">Submit</button>
	<button type="button" class="btn btn-danger pull-right right10" data-dismiss="modal">Close</button>
</p>

</form>

    </div>
        </div>


      </div>
    </div>
  </div>


   <div id="editcontainer"></div>
	 {% else %}

<div class="col-sm-6" style="margin-top: 30px">
<div class="alert alert-danger">
<strong>Permission Denied!</strong> You do not have access this section.
</div>
</div>

{% endif %}
{% endblock %}
