{% load widget_tweaks %}

<div class="modal fade" id="updateModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Update Quote</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
<div class="modal-body">


<form action="{% url 'quote_update' form.instance.id %}" method="POST" enctype="multipart/form-data">{% csrf_token %}

<div class="row">
	<div class="col-sm-6">
		<div class="form-group">
      	<label>*Customer:</label>
        {% render_field form.customer class="form-control" %}
    </div>
 </div>

<div class="col-sm-6">
	 <div class="form-group">
      	<label>*Description:</label>
        {% render_field form.description class="form-control" rows="1" %}
      </div>
</div>

</div>

<div class="row">
	<div class="col-sm-6">
	<div class="form-group">
      	<label>*Long Description:</label>
        {% render_field form.description_long_text class="form-control" rows="6" %}
      </div>
  </div>
      <div class="col-sm-6">
				<div class="row">
					<div class="col-sm-12">
		      	<div class="form-group">
		      	<label>*Quote Amount:</label>
		        {% render_field form.quote_amount class="form-control"  %}
		      	</div>
				</div>
				<div class="col-sm-12">
					<div class="form-group">
					<label>*Custom Quote:</label>
					{% render_field form.custom_quote class="form-control" readonly=""  %}
					</div>
			</div>
				</div>
			</div>

</div>


<div class="row">
	<div class="col-sm-6">
      <div class="form-group">
      	<label>*Customer Contact Date:</label>
		<input name="customer_contact_date" readonly="" value="{{ form.instance.customer_contact_date|date:'d/m/Y H:i' }}" class="form-control" required="" id="id_customer_contact_date_u" type="text">
      </div>
	</div>
<div class="col-sm-6">
       <div class="form-group">
       	<label>*Promised Delivery Date:</label>
       	<input name="promised_delivery_date" readonly="" value="{{ form.instance.promised_delivery_date|date:'d/m/Y H:i' }}" class="form-control" required="" id="id_promised_delivery_date_u" type="text">

      </div>
</div>
</div>


<div class="row">
	<div class="col-sm-6">
 		<div class="form-group">
 		 <label>*Quote Request Date:</label>
        <input name="quote_request_date" readonly="" value="{{ form.instance.quote_request_date|date:'d/m/Y H:i' }}" class="form-control" required="" id="id_quote_request_date_u" type="text">
      </div>
    </div>
	<div class="col-sm-6">
      <div class="form-group">
      	<label>*Quote Status:</label>
        {% render_field form.quote_status class="form-control" %}
      </div>

	</div>
</div>


<div class="row">
<div class="box-body">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#document" role="tab" aria-selected="false"><span>Documentation</span></a> </li>
          </ul>
          <!-- Tab panes -->
          <div class="tab-content">
<div class="tab-pane active show" id="document" role="tabpanel">
  <div style="margin-top:5px;">
  <table class="table table-bordered table-sm">
    <thead>
      <tr>
        <th>ID#</th>
        <th>*Category</th>
        <th>*Files</th>
        <th>Action</th>

      </tr>
    </thead>
    <tbody  style="border: 1px solid #3a3e52;">
      {{ form2.management_form }}

      {% for form in form2.forms %}
      {% for hidden in form.hidden_fields %}
          {{ hidden }}
      {% endfor %}
      <tr class="quotedocument_form_fromset">
        <td id="doc_id">{{ form.instance.id }}</td>
        <td>{% render_field form.category class="form-control" %}</td>
        <td>{{ form.document }}</td>
        <td>{{ form.DELETE }}</td>


      </tr>

     {% endfor %}
    </tbody>
  </table>
</div>
</div>
</div>
</div>
</div>

<p class="top10">
	<button type="submit" class="btn btn-primary pull-right">Submit</button>
	<button type="button" class="btn btn-danger pull-right right10" data-dismiss="modal">Close</button>
</p>

</form>


</div>
</div>
</div>
</div>


<script>
$(document).ready(function(){
      $('.quotedocument_form_fromset').formset({
        addText: 'ADD DOCUMENT',
        deleteText: 'DELETE',
        prefix: 'quotedocument_set',
        addCssClass: 'add-row documentclass btn btn-info'
      });

    $(".documentclass").click(function(){
      $("[id$='doc_id']").last().text("--")
      $("[id$='category']").last().val("")
      $("[id$='document']").last().val("")

    })

});
$("#id_customer_contact_date_u").datetimepicker({format:'d/m/Y H:i'});

$("#id_promised_delivery_date_u").datetimepicker({format:'d/m/Y H:i'});

$("#id_quote_request_date_u").datetimepicker({format:'d/m/Y H:i'});
</script>
