	{% load staticfiles %}


	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

	<!-- Data Table-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/datatables.min.css' %}"/>

	<!-- Bootstrap extend-->
	<link rel="stylesheet" href="{% static 'css/bootstrap-extend.css' %}">

	<!-- Theme style -->
	<link rel="stylesheet" href="{% static 'css/master_style.css' %}">

	<!-- UltimatePro Admin skins -->
	<link rel="stylesheet" href="{% static 'css/_all-skins.css' %}">
	<link rel="stylesheet" href="{% static 'css/x.css' %}">

	<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />


	<link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">

	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
