{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}

<div class="content-header">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h3 class="page-title">Update Preference</h3>
			<div class="d-inline-block align-items-center">
				<nav>
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i></a></li>
						<li class="breadcrumb-item" aria-current="page">preference</li>
						<li class="breadcrumb-item active" aria-current="page">preference update
						</li>
					</ol>
				</nav>
			</div>
		</div>
		<div class="right-title">
		</div>
	</div>
</div>

<div class="col-sm-12">
<form method="post" action="" enctype="multipart/form-data">{% csrf_token %}
 <div class="row">
  <div class="col-sm-6">
    <div class="form-group">
          <label>Address:</label>
          {% render_field form.address class="form-control" rows="1" %}
      </div>
  </div>

  <div class="col-sm-6">
     <div class="form-group">
          <label>Logo:</label>
          {% render_field form.logo class="form-control" %}
        </div>
  </div>
</div>

 <div class="row">
  <div class="col-sm-6">
    <div class="form-group">
          <label>Markup Percentage:</label>
          {% render_field form.markup_percentage class="form-control" %}
      </div>
  </div>

  <div class="col-sm-6">
     <div class="form-group">
          <label>Markup Amount:</label>
          {% render_field form.markup_amount class="form-control" %}
        </div>
  </div>
</div>

<p class="top10">
<button type="submit" class="btn btn-primary pull-right">Save</button>
</p>

</form>
</div>


{% endblock %}