{% extends 'base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block content %}

<section class="content">
	<div class="row">
		<div class="col-12 col-lg-6 col-xl-7">
			<div class="box box-widget widget-user">
			 <!-- Add the bg color to the header using any of the bg-* classes -->
			 <div class="widget-user-header bg-black" style="background-color: #3a3e52;">
				 <h3 class="widget-user-username">{{ employee.name }}</h3>
				 <h6 class="widget-user-desc"></h6>
			 </div>
			 <div class="widget-user-image">
				 <img class="rounded-circle" src="{% if request.user.em_user.photo %}{{ request.user.em_user.photo.url }}{% else %}{% static 'img/1.png' %}{% endif %}" alt="User Avatar">
			 </div>
			 <div class="box-footer">
				 <div class="row">

				 <!-- /.col -->
				 <div class="col-sm-6">
					 <div class="description-block">
					 <h5 class="description-header">{{ employee.user.last_login|date:"D d/m/y H:i" }}</h5>
					 <span class="description-text">LAST LOGIN</span>
					 </div>
					 <!-- /.description-block -->
				 </div>
				 <!-- /.col -->
				 <div class="col-sm-6">
					 <div class="description-block">
					 <h5 class="description-header">{{ total_hr }}</h5>
					 <span class="description-text">TOTAL APPROVED HOUR</span>
					 </div>
					 <!-- /.description-block -->
				 </div>
				 <!-- /.col -->
				 </div>
				 <!-- /.row -->
			 </div>
			 </div>


		</div>
		<div class="col-12 col-lg-6 col-xl-5">
				  <!-- Profile Image -->
				  <div class="box" id="employee_info_box">
					<div class="box-body box-profile">
					  <div class="row">
						<div class="col-12">
							<p class="pull-right"><a href="#" id="employee_update_btn">Edit</a></p>
							<div>
								<p>Email :<span class="text-gray pl-10">{% if employee.email %}{{ employee.email }}{% else %}--{% endif %}</span> </p>
								<p>Phone :<span class="text-gray pl-10">{% if employee.phone_number %}{{ employee.phone_number }}{% else %}--{% endif %}</span></p>
								<p>Address :<span class="text-gray pl-10">{% if employee.address %}{{ employee.address }}{% else %}--{% endif %}</span></p>
								<p>Emergency Contact Name :<span class="text-gray pl-10">{% if employee.emergency_contact%}{{ employee.emergency_contact }}{% else %}--{% endif %}</span></p>
								<p>Eergency Contact Relationship :<span class="text-gray pl-10">{% if employee.emergency_contact_relationship %}{{ employee.emergency_contact_relationship }}{% else %}--{% endif %}</span></p>
								<p>Emergency Contact Number :<span class="text-gray pl-10">{% if employee.emergency_contact_number %}{{ employee.emergency_contact_number }}{% else %}--{% endif %}</span></p>
								<p>Emergency Contact Email :<span class="text-gray pl-10">{% if employee.emergency_contact_email %}{{ employee.emergency_contact_email }}{% else %}--{% endif %}</span></p>
							</div>
						</div>
					  </div>
					</div>
					<!-- /.box-body -->
				  </div>

					<form method="post" action="{% url 'user_profile_update' employee.id %}" id="employee_update_form" style="display:none">{% csrf_token %}
							  <!-- Profile Image -->
							  <div class="box">
								<div class="box-body box-profile">
								  <div class="row">
									<div class="col-12">
										<div style="margin-bottom:10px;">
											<div class="row">
												<div class="col-sm-12">
													<div class="form-group">
											      	<label>Email:</label>
											         {% render_field form.email class="form-control" %}
											    </div>
											 </div>
											 <div class="col-sm-12">
												 <div class="form-group">
														 <label>Phone:</label>
														 {% render_field form.phone_number class="form-control" %}
												 </div>
											</div>
											<div class="col-sm-12">
												<div class="form-group">
														<label>Address:</label>
														{% render_field form.address class="form-control" rows="1" %}
												</div>
										 </div>
										 <div class="col-sm-12">
											 <div class="form-group">
													 <label>Emergency Contact Name:</label>
													 {% render_field form.emergency_contact class="form-control" %}
											 </div>
										</div>

										<div class="col-sm-12">
											<div class="form-group">
													<label>Emergency Contact Relationship:</label>
													{% render_field form.emergency_contact_relationship class="form-control" %}
											</div>
									 </div>

									 <div class="col-sm-12">
										 <div class="form-group">
												 <label>Emergency Contact Number:</label>
												 {% render_field form.emergency_contact_number class="form-control" %}
										 </div>
									</div>
									<div class="col-sm-12">
										<div class="form-group">
												<label>Emergency Contact Email:</label>
												{% render_field form.emergency_contact_email class="form-control" %}
										</div>
								 </div>

										</div>

									</div>
									<button type="submit" class="btn btn-info pull-right">Update</button>
									<button type="button" class="btn btn-info pull-right" id="employee_update_close_btn" style="margin-right: 5px;">Close</button>
								  </div>
								</div>
								<!-- /.box-body -->
							  </div>

							</form>


			  </div>


	</div>
</section>


{% endblock %}
