  <aside class="main-sidebar">
    <!-- sidebar-->
    <section class="sidebar">

      <!-- sidebar menu-->
      <ul class="sidebar-menu" data-widget="tree">


       <li>
          <a href="{% url 'workorder_list' %}" id="id_workorder">
            <i class="mdi mdi-wrench"></i>
              <span>Work Order</span>
          </a>
        </li>
       <li>
          <a href="{% url 'quote_list' %}" id="id_quote">
            <i class="fa fa-quote-right"></i>
              <span>Quote</span>
          </a>
        </li>

		   <li>
          <a href="{% url 'employee_list' %}" id="id_employee">
            <i class="mdi mdi-contact-mail"></i>
              <span>Employee</span>
          </a>
        </li>

          <li>
          <a href="{% url 'customer_list' %}" id="id_customer">
            <i class="mdi mdi-human-male"></i>
      <span>Customer</span>
          </a>
        </li>

		  <li>
          <a href="{% url 'purchase_list' %}" id="id_purchase">
            <i class="mdi mdi-cart-outline"></i>
			<span>Purchasing</span>
          </a>
        </li>

          <li>
          <a href="{% url 'timecard_list' %}" id="id_timecard">
            <i class="mdi mdi-clock"></i>
              <span>Time Cards</span>
          </a>
        </li>



          <li>
          <a href="{% url 'documentation_list' %}" id="id_documentation">
            <i class="mdi mdi-paperclip"></i>
            <span>Documentation</span>
          </a>
        </li>


          <li>
          <a href="{% url 'invoice_list' %}" id="id_invoice">
            <i class="mdi mdi-credit-card-multiple"></i>
            <span>Invoicing</span>
          </a>
        </li>


      </ul>
    </section>
  </aside>
