{% load widget_tweaks %}
<div class="modal fade" id="updateModalTask">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Update Task</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
              <div class="form-group">


      <form action="{% url 'task_update' form.instance.id %}" method="POST" enctype="multipart/form-data">{% csrf_token %}


<input type="hidden" name="work_order" value="{{ form.instance.work_order.id }}">


<div class="row">
  <div class="col-sm-6">
    <div class="form-group">
          <label>Task Description:</label>
          {% render_field form.task_description rows="1" class="form-control" %}
      </div>
  </div>

  <div class="col-sm-6">
     <div class="form-group">
          <label>Start Date:</label>
            <input name="start_date" value="{{ form.instance.start_date|date:'d-m-Y H:i' }}" class="form-control" required="" id="id_start_date_u" type="text">
        </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="form-group">
          <label>End Date:</label>
          <input name="end_date" value="{{ form.instance.end_date|date:'d-m-Y H:i' }}" class="form-control" required="" id="id_end_date_u" type="text">
      </div>
  </div>

  <div class="col-sm-6">
     <div class="form-group">
          <label>Task Status:</label>
          {% render_field form.task_status class="form-control" %}
        </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="form-group">
          <label>Task Assigned To:</label>
          {% render_field form.task_assigned_to style="background: #3a3e52;" class="form-control" %}
      </div>
  </div>

  <div class="col-sm-6">
     <div class="form-group">
          <label>Task Due Date:</label>
            <input name="task_due_date" value="{{ form.instance.task_due_date|date:'d-m-Y H:i' }}" class="form-control" required="" id="id_task_due_date_u" type="text">
        </div>
  </div>
</div>

<p class="top10">
  <button type="submit" class="btn btn-primary pull-right">Submit</button>
  <button type="button" class="btn btn-danger pull-right right10" data-dismiss="modal">Close</button>
</p>



      </form>

    </div>
        </div>
        

      </div>
    </div>
  </div>

<script>
  
$("#id_start_date_u").dateTimePicker({
  mode: 'dateTime',
  format: 'dd-MM-yyyy HH:mm'
});

$("#id_end_date_u").dateTimePicker({
  mode: 'dateTime',
  format: 'dd-MM-yyyy HH:mm'
});

$("#id_task_due_date_u").dateTimePicker({
  mode: 'dateTime',
  format: 'dd-MM-yyyy HH:mm'
});


</script>