{% extends "registration/reg_base.html" %}
{% load staticfiles %}
{% block content %}
<div class="p-30 content-bottom rounded bg-img box-shadowed" style="background-image: url({% static 'img/auth-bg/bg.jpg' %})" data-overlay="8">
  <form action="" method="post">{% csrf_token %}

    <div class="auth_error">
      <div class="auth_error">
      {% if form.errors %}
          {% for field in form %}
              {% for error in field.errors %}
                  <div class="alert alert-danger">
                      <strong>{{ error|escape }}</strong>
                  </div>
              {% endfor %}
          {% endfor %}
          {% for error in form.non_field_errors %}
              <div class="alert alert-danger">
                  <strong>{{ error|escape }}</strong>
              </div>
          {% endfor %}
      {% endif %}
      </div>
    </div>

    <div class="form-group">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text bg-transparent bt-0 bl-0 br-0 no-radius text-white"><i class="ti-user"></i></span>
        </div>
        <input type="text" class="form-control pl-15 bg-transparent bt-0 bl-0 br-0 text-white" name="username" id="id_username" placeholder="Username">
      </div>
    </div>
    <div class="form-group">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text  bg-transparent bt-0 bl-0 br-0 text-white"><i class="ti-lock"></i></span>
        </div>
        <input type="password" class="form-control pl-15 bg-transparent bt-0 bl-0 br-0 text-white" name="password" id="id_password" placeholder="Password">
      </div>
    </div>
      <div class="row">
      <div class="col-6">
        <div class="checkbox text-white">
        <input type="checkbox" id="basic_checkbox_1" >
        <label for="basic_checkbox_1">Remember Me</label>
        </div>
      </div>
      <!-- /.col -->
      <div class="col-6">
       <div class="fog-pwd text-right">
        <a href="{% url 'password_reset' %}" class="text-white hover-info"><i class="ion ion-locked"></i> Forgot pwd?</a><br>
        </div>
      </div>
      <!-- /.col -->
      <div class="col-12 text-center">
        <button type="submit" class="btn btn-info btn-block margin-top-10">SIGN IN</button>
      </div>
      <!-- /.col -->
      </div>
  </form>

<!--   <div class="text-center">
    <p class="mt-15 mb-0 text-white">Don't have an account? <a href="" class="text-info ml-5">Sign Up</a></p>
  </div> -->
</div>

{% endblock content %}
