{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>WML LOGIN</title>
	{% include 'css.html' %}

</head>

<body class="hold-transition bg-img" style="background-image: url({% static 'img/auth-bg/banner.jpg' %})" data-overlay="1">

	<div class="container h-p100">
		<div class="row align-items-center justify-content-md-center h-p100">

			<div class="col-12">
				<div class="row no-gutters">
					<div class="col-lg-4 col-md-5 col-12">
						<div class="content-top-agile p-10">
							<h2>Get started with Us</h2>
							<p class="text-white">Sign in to start your session</p>
						</div>
						{% block content %}
						{% endblock %}
					</div>
				</div>
			</div>
		</div>
	</div>


	<script src="{% static 'js/jquery-3.3.1.js' %}"></script>
	<script src="{% static 'js/popper.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>

</body>
</html>
