{% load widget_tweaks %}
<div class="modal fade" id="updateModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Update Time Card</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
              <div class="form-group">


      <form action="{% url 'timecard_update' form.instance.id %}" method="POST" enctype="multipart/form-data">{% csrf_token %}

       <div class="form-group">
        <label>*Work Order:</label>
        {% render_field form.work_order class="form-control" %}
      </div>
       <div class="form-group">
        <label>*Employee Name:</label>
        {% render_field form.employee_name class="form-control" %}
      </div>
       <div class="form-group">
        <label>*Start Date:</label>
        <input name="start_time" readonly="" value="{{ form.instance.start_time|date:'d/m/Y H:i' }}" id="t_start_timeu" readonly="" class="form-control" required="" type="text">
      </div>
       <div class="form-group">
        <label>*End Date:</label>
        <input name="end_time" readonly="" value="{{ form.instance.end_time|date:'d/m/Y H:i' }}" id="t_end_timeu" readonly="" class="form-control" required="" type="text">
      </div>
<p class="top10">
  <button type="submit" class="btn btn-primary pull-right">Submit</button>
  <button type="button" class="btn btn-danger pull-right right10" data-dismiss="modal">Close</button>
</p>

      </form>

    </div>
        </div>

      </div>
    </div>
  </div>

<script>

$("#t_start_timeu").datetimepicker({format:'d/m/Y H:i'});

$("#t_end_timeu").datetimepicker({format:'d/m/Y H:i'});

</script>
