/*------------------------------------------------------------------
[Master Stylesheet For RTL]

Project:	UltimatePro Admin - Responsive Admin Template
-------------------------------------------------------------------*/

.rtl {
  text-align: right !important;
  direction: rtl;
}
.rtl ul {
  padding-right: 0px;
  -webkit-padding-start: 0px;
}
.rtl .pull-right, .rtl .float-right, .rtl .right-float {
    float: left !important;
}
.rtl .pull-left, .rtl .float-left, .rtl .left-float {
    float: right !important;
}


.rtl .mr-0
{
    margin-left: 0 !important;
}

.rtl .ml-0
{
    margin-right: 0 !important;
}

.rtl .mr-1
{
    margin-left: 0.25rem !important;
	margin-right: inherit !important;
}

.rtl .ml-1
{
    margin-right: 0.25rem !important;
	margin-left: inherit !important;
}

.rtl .mr-2
{
    margin-left: 0.5rem !important;
	margin-right: inherit !important;
}

.rtl .ml-2
{
    margin-right: 0.5rem !important;
	margin-left: inherit !important;
}

.rtl .mr-3
{
    margin-left: 3px !important;
	margin-right: inherit !important;
}

.rtl .ml-3
{
    margin-right: 3px !important;
	margin-left: inherit !important;
}

.rtl .mr-5
{
    margin-left: 5px !important;
	margin-right: inherit !important;
}

.rtl .ml-5
{
    margin-right: 5px !important;
	margin-left: inherit !important;
}

.rtl .mr-10
{
    margin-left: 10px !important;
	margin-right: inherit !important;
}

.rtl .ml-10
{
    margin-right: 10px !important;
	margin-left: inherit !important;
}

.rtl .mr-15
{
    margin-left: 15px !important;
	margin-right: inherit !important;
}

.rtl .ml-15
{
    margin-right: 15px !important;
	margin-left: inherit !important;
}

.rtl .mr-20
{
    margin-left: 20px !important;
	margin-right: inherit !important;
}

.rtl .ml-20
{
    margin-right: 20px !important;
	margin-left: inherit !important;
}

.rtl .mr-25
{
    margin-left: 25px !important;
	margin-right: inherit !important;
}

.rtl .ml-25
{
    margin-right: 25px !important;
	margin-left: inherit !important;
}

.rtl .mr-30
{
    margin-left: 30px !important;
	margin-right: inherit !important;
}

.rtl .ml-30
{
    margin-right: 30px !important;
	margin-left: inherit !important;
}

.rtl .mr-35
{
    margin-left: 35px !important;
	margin-right: inherit !important;
}

.rtl .ml-35
{
    margin-right: 35px !important;
	margin-left: inherit !important;
}

.rtl .mr-40
{
    margin-left: 40px !important;
	margin-right: inherit !important;
}

.rtl .ml-40
{
    margin-right: 40px !important;
	margin-left: inherit !important;
}

.rtl .mr-45
{
    margin-left: 45px !important;
	margin-right: inherit !important;
}

.rtl .ml-45
{
    margin-right: 45px !important;
	margin-left: inherit !important;
}

.rtl .mr-50
{
    margin-left: 50px !important;
	margin-right: inherit !important;
}

.rtl .ml-50
{
    margin-right: 50px !important;
	margin-left: inherit !important;
}

.rtl .mr-60
{
    margin-left: 60px !important;
	margin-right: inherit !important;
}

.rtl .ml-60
{
    margin-right: 60px !important;
	margin-left: inherit !important;
}

.rtl .mr-70
{
    margin-left: 70px !important;
	margin-right: inherit !important;
}

.rtl .ml-70
{
    margin-right: 70px !important;
	margin-left: inherit !important;
}

.rtl .mr-80
{
    margin-left: 80px !important;
	margin-right: inherit !important;
}

.rtl .mr-90
{
    margin-left: 90px !important;
	margin-right: inherit !important;
}

.rtl .ml-80
{
    margin-right: 80px !important;
	margin-left: inherit !important;
}

.rtl .ml-90
{
    margin-right: 90px !important;
	margin-left: inherit !important;
}


.rtl .pr-0
{
    padding-left: 0 !important;
}

.rtl .pl-0
{
    padding-right: 0 !important;
}

.rtl .pr-3
{
    padding-left: 3px !important;
	padding-right: inherit !important;
}

.rtl .pl-3
{
    padding-right: 3px !important;
	padding-left: inherit !important;
}

.rtl .pr-5
{
    padding-left: 5px !important;
	padding-right: inherit !important;
}

.rtl .pl-5
{
    padding-right: 5px !important;
	padding-left: inherit !important;
}

.rtl .pr-10
{
    padding-left: 10px !important;
	padding-right: inherit !important;
}

.rtl .pl-10
{
    padding-right: 10px !important;
	padding-left: inherit !important;
}

.rtl .pr-15
{
    padding-left: 15px !important;
	padding-right: inherit !important;
}

.rtl .pl-15
{
    padding-right: 15px !important;
	padding-left: inherit !important;
}

.rtl .pr-20
{
    padding-left: 20px !important;
	padding-right: inherit !important;
}

.rtl .pl-20
{
    padding-right: 20px !important;
	padding-left: inherit !important;
}

.rtl .pr-25
{
    padding-left: 25px !important;
	padding-right: inherit !important;
}

.rtl .pl-25
{
    padding-right: 25px !important;
	padding-left: inherit !important;
}

.rtl .pr-30
{
    padding-left: 30px !important;
	padding-right: inherit !important;
}

.rtl .pl-30
{
    padding-right: 30px !important;
	padding-left: inherit !important;
}

.rtl .pr-35
{
    padding-left: 35px !important;
	padding-right: inherit !important;
}
.rtl .pl-35
{
    padding-right: 35px !important;
	padding-left: inherit !important;
}

.rtl .pr-40
{
    padding-left: 40px !important;
	padding-right: inherit !important;
}

.rtl .pl-40
{
    padding-right: 40px !important;
	padding-left: inherit !important;
}

.rtl .pr-45
{
    padding-left: 45px !important;
	padding-right: inherit !important;
}

.rtl .pl-45
{
    padding-right: 45px !important;
	padding-left: inherit !important;
}

.rtl .pr-50
{
    padding-left: 50px !important;
	padding-right: inherit !important;
}

.rtl .pl-50
{
    padding-right: 50px !important;
	padding-left: inherit !important;
}

.rtl .pr-60
{
    padding-left: 60px !important;
	padding-right: inherit !important;
}

.rtl .pl-60
{
    padding-right: 60px !important;
	padding-left: inherit !important;
}

.rtl .pr-70
{
    padding-left: 70px !important;
	padding-right: inherit !important;
}

.rtl .pl-70
{
    padding-right: 70px !important;
	padding-left: inherit !important;
}

.rtl .pr-80
{
    padding-left: 80px !important;
	padding-right: inherit !important;
}

.rtl .pl-80
{
    padding-right: 80px !important;
	padding-left: inherit !important;
}

.rtl .mr-auto
{
    margin-left: auto !important;    
	margin-right: inherit !important;
}

.rtl .ml-auto
{
    margin-right: auto !important;    
	margin-left: inherit !important;
}



.rtl .main-header .logo {
    float: right;
    text-align: right;
}
.rtl .main-header .navbar {
    -webkit-transition: margin-right .3s ease-in-out;
    -o-transition: margin-right .3s ease-in-out;
    transition: margin-right .3s ease-in-out;
    margin-right: 250px;
	margin-left: 0;
}
.rtl .navbar-custom-menu>.navbar-nav>li>.dropdown-menu {
    left: 5%;
    right: auto;
}
.rtl .navbar-nav>.messages-menu>.dropdown-menu>li .menu>li>a>div>h4>small {
    right: auto;
	left: 0;
}
.rtl .navbar-nav>.messages-menu>.dropdown-menu>li .menu>li>a>div>img {
    margin: auto auto auto 10px;
}
.rtl .navbar-nav>.user-menu>.dropdown-menu>li.user-header .user-name {
    text-align: left;
}
.rtl .navbar-nav>.user-menu>.dropdown-menu>.user-body a i {
    margin-right: auto;
	margin-left: 10px;
}
.rtl .search-box .app-search .srh-btn {
    right: auto;
	left: 15px;
}
.rtl .search-box .app-search input {
    padding: 0px 15px 0px 40px;
}
.rtl .main-header .messages-menu .dropdown-toggle i::after, .rtl .main-header .notifications-menu .dropdown-toggle i::after, .rtl .main-header .tasks-menu .dropdown-toggle i::after {
    right: auto;
	left: 10px;
}
@media (max-width: 991px){
.rtl .main-header .messages-menu .dropdown-toggle i::after, .rtl .main-header .notifications-menu .dropdown-toggle i::after, .rtl .main-header .tasks-menu .dropdown-toggle i::after {
    left: auto;
}
}
@media (min-width: 768px){
.rtl.sidebar-mini.sidebar-collapse .main-header .navbar {
    margin-right: 50px;
	margin-left: auto;
}
}
@media (max-width: 767px){
.rtl .main-header .logo {
    text-align: center;
}
.rtl .main-header .navbar {
    margin: 0;
}
}
.rtl .main-header .top-nav-search .input-group input {
    border-radius: 50px;
	padding-left: 30px;
}
.rtl .main-header .top-nav-search .input-group .input-group-btn {
    left: 0px;
    right: auto;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
}
.rtl .main-header .sidebar-toggle, .main-header .res-only-view {
    float: right;
}
.rtl .main-header .sidebar-toggle i.ti-align-left:before{
    content: "\e6c1";
}
@media (max-width: 1024px){
.rtl .main-header .top-nav-search .input-group input {
    border-radius: 0;
}
.rtl .main-header .top-nav-search .input-group .input-group-btn {
    left: 30px;
}
}
.rtl .main-sidebar {
    right: 0;
	left: inherit;
}
.rtl .sidebar-menu .user-profile > a img {
    margin-right: 0px;
	margin-left: 10px;
}
.rtl .sidebar-menu li>a>.pull-right-container {
    right: auto;
	left: 10px;
}
.rtl .sidebar-menu li>a>.fa-angle-right, .rtl .sidebar-menu li>a>.pull-right-container>.fa-angle-right{
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.rtl .sidebar-menu .menu-open>a>.fa-angle-right, .rtl .sidebar-menu .menu-open>a>.pull-right-container>.fa-angle-right {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
.rtl.sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu>li:hover>a>span:not(.pull-right), .rtl.sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu>li:hover>.treeview-menu {
    right: 60px;
	left: auto;
}
.rtl.sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu>li:hover>a>.pull-right-container {
    float: left;
    right: 250px!important;
    left: auto;
}
.rtl.sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu>li:hover>a>span {
    padding: 15px 20px 15px 5px;
}
.rtl.sidebar-collapse .treeview-menu>li>a {
    padding: 10px 30px 10px 5px;
}
.rtl .treeview-menu>li>a {
    padding: 8px 25px 8px 5px;
}
.rtl .treeview-menu>li>a>.fa, .rtl .treeview-menu>li>a>.glyphicon, .rtl .treeview-menu>li>a>.ion, .rtl .treeview-menu>li>a> i {
    padding-left: 20px;
    padding-right: 10px;
	float: right;
	display: inline-table;
	margin-top: 5px;
}
.rtl .sidebar-menu .treeview-menu > li.active > a i.ti-more:before, .rtl .sidebar-menu .treeview-menu > li > a:hover i.ti-more:before {
    content: "\e629";
}
.rtl .sidebar-menu>li>a>.fa, .rtl .sidebar-menu>li>a>.glyphicon, .rtl .sidebar-menu>li>a>.ion, .rtl .sidebar-menu>li>a>i {
    margin-right: 0px;
	margin-left: 5px;
}
@media (min-width: 768px){
.rtl.sidebar-mini.sidebar-collapse .sidebar-menu>li>a>span {
    border-top-right-radius: 0;
	border-top-left-radius: 4px;
}
}
@media (max-width: 767px){
.rtl .main-sidebar {
    -webkit-transform: translate(250px, 0);
    -ms-transform: translate(250px, 0);
    -o-transform: translate(250px, 0);
    transform: translate(250px, 0);
}
}


.rtl .content-wrapper, .rtl .main-footer {
    margin-right: 250px;
	margin-left: 0;
}
@media (min-width: 768px){
.rtl.sidebar-mini.sidebar-collapse .content-wrapper, .rtl.sidebar-mini.sidebar-collapse .main-footer, .rtl.sidebar-mini.sidebar-collapse .right-side {
    margin-left: auto;
	margin-right: 60px;
}
}
@media (max-width: 767px){
.rtl .content-wrapper, .rtl .main-footer {
    margin-right: 0;
}
.rtl.sidebar-open .content-wrapper, .rtl.sidebar-open .main-footer {
    -webkit-transform: translate(-250px, 0);
    -ms-transform: translate(-250px, 0);
    -o-transform: translate(-250px, 0);
    transform: translate(-250px, 0);
}
}


@media (min-width: 768px){
.rtl.control-sidebar-open .content-wrapper, .rtl.control-sidebar-open .main-footer, .rtl.control-sidebar-open .right-side {
    margin-left: 345px;
	margin-right: 250px;
}
}

.rtl .control-sidebar-open .control-sidebar, .rtl .control-sidebar-open .control-sidebar-bg, .rtl .control-sidebar.control-sidebar-open, .rtl .control-sidebar.control-sidebar-open+.control-sidebar-bg {
    right: auto;
	left: 0;
}
.rtl .control-sidebar, .rtl .control-sidebar-bg {
    top: 0;
    right: auto;
    left: -345px;
    -webkit-transition: left .3s ease-in-out;
    -o-transition: left .3s ease-in-out;
    transition: left .3s ease-in-out;
}
.rtl .control-sidebar .nav-tabs.control-sidebar-tabs>li {
    margin-left: 30px;
	margin-right: 0px;
}
.rtl .control-sidebar .rpanel-title {
	right: auto;
    left: 0;
}
.rtl .control-sidebar-menu .menu-icon {
    float: right;
}
.rtl .control-sidebar-menu .menu-info {
    margin-right: 45px;
	margin-left: auto;
}

.rtl .content-header .mr-auto {
    margin-left: auto !important;
	margin-right: inherit !important;
}
.rtl .content-header .page-title {
    margin: 0 0 0 15px;
    border-left: 1px solid #e2e5ec;
    border-right: 0;
    padding: 7px 0 7px 25px;
}
.rtl .content-header .right-title {
	text-align: left;
}

.rtl .flexbox > *:first-child {
    margin-right: 0;
	margin-left: 4px;
}
.rtl .flexbox > *:last-child {
    margin-left: 0;
	margin-right: 4px;
}

.rtl .box-header>.box-tools, .rtl .box-header> .box-controls {
    left: 1.5rem;
	right: auto
}

.rtl .dropdown-menu{
	text-align: right;
}
.rtl .dropdown-item i {
    margin-left: 0.5rem;
    margin-right:0;
}


.rtl [type=checkbox]+label {
    padding-left: 0;
	padding-right: 35px !important;
}
.rtl [type=checkbox]+label:before, .rtl [type=checkbox]:not(.filled-in)+label:after {
    right: 0;
	left: auto
}
.rtl [type=checkbox]:checked, .rtl [type=checkbox]:not(:checked) {
    right: -9999px;
	left: auto;
}
.rtl [type=checkbox]:checked+label:before {
    right: 10px;
	left: auto;
}
.rtl [type=checkbox].filled-in+label:after, [type=checkbox].filled-in+label:before {
    right: 0;
	left: auto;
}

.rtl [type=radio]:checked+label, .rtl [type=radio]:not(:checked)+label {
    padding-left: 0;
	padding-right: 35px !important;
}
.rtl [type=radio]+label:after,.rtl  [type=radio]+label:before {
    right: 0;
	left: auto
}
.rtl [type=radio]:checked, .rtl [type=radio]:not(:checked) {
    right: -9999px;
	left: auto;
}


.rtl .dataTables_wrapper .dataTables_paginate {
    float: left;
}


/*---inner sidebar---*/

.rtl .left-block {
    border-right: none;
	border-left: 1px solid #e9ecef;
}
.rtl .left-block .open-left-block {
    right: auto;
    left: -41px;
}
.rtl .reverse-mode .open-left-block {
    right: -41px;
    left: auto;
}
.rtl .reverse-mode .left-block {
    right: inherit;
	left: 0;
    border-left: none;
    border-right: 1px solid #e9ecef;
}
.rtl .right-block {
    margin-left: inherit;
    margin-right: 280px;
}
.rtl .reverse-mode .right-block {
    margin-left: 280px;
    margin-right: 0;
}
@media (max-width: 766px){
.rtl .left-block {
    left: inherit;
    right: -280px;	
    -webkit-transition: -webkit-transform .3s ease-in-out, right .3s ease-in-out;
    -moz-transition: -moz-transform .3s ease-in-out, right .3s ease-in-out;
    -o-transition: -o-transform .3s ease-in-out, right .3s ease-in-out;
    transition: transform .3s ease-in-out, right .3s ease-in-out;
}
.rtl .left-block.open-panel {
    left: inherit;
	right: 0;
}
.rtl .reverse-mode .left-block {
    right: auto;
    left: -280px;	
    -webkit-transition: -webkit-transform .3s ease-in-out, left .3s ease-in-out;
    -moz-transition: -moz-transform .3s ease-in-out, left .3s ease-in-out;
    -o-transition: -o-transform .3s ease-in-out, left .3s ease-in-out;
    transition: transform .3s ease-in-out, left .3s ease-in-out;
}	
.rtl .reverse-mode .left-block.open-panel {
    right: inherit;
	left: 0;
}
.rtl .right-block {
    margin-left: inherit;
	margin-right: 0;
}
}


.rtl .nav-pills>li>a>.fa, .rtl .nav-pills>li>a>.glyphicon, .rtl .nav-pills>li>a>.ion {
    margin-left: 5px;
	margin-right: 0;
}
.rtl .flex-column>li>a {
    border-left: none;
    border-right: 3px solid transparent;
}

.rtl .btn-group>.btn-group:not(:last-child)>.btn, .rtl .btn-group>.btn:not(:last-child):not(.dropdown-toggle) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
	border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.rtl .btn-group>.btn:first-child {
    margin-left: inherit;
	margin-right: 0;
}
.rtl .btn-group>.btn-group:not(:first-child)>.btn, .rtl .btn-group>.btn:not(:first-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
	border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.rtl .btn-group .btn+.btn, .rtl .btn-group .btn+.btn-group, .rtl .btn-group .btn-group+.btn, .rtl .btn-group .btn-group+.btn-group, .rtl .btn-group-vertical .btn+.btn, .rtl .btn-group-vertical .btn+.btn-group, .rtl .btn-group-vertical .btn-group+.btn, .rtl .btn-group-vertical .btn-group+.btn-group {
    margin-left: inherit;
	margin-right: -1px;
}
.rtl .btn-group-vertical>.btn+.btn, .rtl .btn-group-vertical>.btn+.btn-group, .rtl .btn-group-vertical>.btn-group+.btn, .rtl .btn-group-vertical>.btn-group+.btn-group {
    margin-right: 0;
}
.rtl .btn-app>.badge {
    left: -10px;
	right: auto;
}



.rtl ul.wysihtml5-toolbar>li {
    float: right;
    margin: 0 0 10px 5px;
}
.rtl .mailbox-attachments li {
    float: right;
    margin-right: inherit;
    margin-left: 10px;
}
.rtl .lookup-circle.lookup-right::before {
    left: 0;
    right: auto;
}
.rtl .direct-chat-img {
    float: right;
}
.rtl .chat-app .direct-chat-text {
    margin: 5px 80px 0 0;
}
.rtl .chat-app .right .direct-chat-text {
    float: left;
    text-align: left;
}
.rtl .right .direct-chat-text p {
    float: left;
}
.rtl .form-control+.input-group-addon:not(:first-child) {
    border-left:1px solid #d2d6de;
	border-right: 0;
}
.rtl.dark .form-control+.input-group-addon:not(:first-child) {
    border-left:1px solid #4e5165;
}
.rtl .gap-items > *:last-child, .rtl .gap-items-3 > *:last-child {
    margin-left: 0;
	margin-right: inherit;
}
.rtl .gap-items > *:first-child, .rtl .gap-items-3 > *:first-child {
    margin-right: 0;
	margin-left: inherit;
}
.rtl .gap-items-4 > *:first-child {
  	margin-right: 0;
	margin-left: inherit;
}
.rtl .gap-items-4 > *:last-child {
  	margin-left: 0;
	margin-right: inherit;
}
.rtl .gap-items-5 > *:first-child {
	margin-right: 0;
	margin-left: inherit;
}
.rtl .gap-items-5 > *:last-child {
  	margin-left: 0;
	margin-right: inherit;
}
.rtl .media-body .media > *:first-child {
    margin-right: 0;
	margin-left: 1rem;
}
.rtl .gap-y.gap-items > *, .rtl .gap-y.gap-items-3 > * {
    margin: 8px;
}

.rtl .modal-header .close {
    margin: -15px auto -15px -15px;
}

.rtl .external-event i {
    margin-left: 5px;
    margin-right: 0;
}
.rtl .external-event i.fa-hand-o-right:before {
        content: "\f0a5";
}
.rtl .fc th, .rtl .fc-basic-view td.fc-week-number, .rtl .fc-icon, .rtl .fc-toolbar {
    text-align: center;
}
.rtl .box-profile.nav-tabs-custom>.nav-tabs>li {
    margin-left: 5px;
	margin-right: 0;
}

.rtl .user-block img {
    float: right;
}
.rtl .user-block .comment, .rtl .user-block .description, .rtl .user-block .username {
    margin-left: 0;
	margin-right: 50px;
}
.rtl .todo-list>li .tools {
    float: left;
}

.rtl .owl-carousel, .rtl .flexslider2, .rtl .flexslider {
    direction: ltr;
}
.rtl .slider.slider-vertical .slider-tick, .rtl .slider.slider-vertical .slider-handle {
    margin-right: -10px;
    margin-top: -10px;
}

@media screen and (min-width: 641px){
.rtl .timeline__box {
    padding-right: 105px;
    padding-left: 0;
}
.rtl .timeline5:before {
    right: 38px;
	left: inherit;
}
}
.rtl .timeline__year {
    right: 0;
    left: inherit;
}
.rtl .timeline__date {
    right: 0;
	left: inherit;
}
.rtl .timeline__post {
    border-left: none;
    border-right: 3px solid #0bb2d4;
}
@media screen and (max-width: 640px){
.rtl .timeline5:before {
    right: 0;
}
.rtl .timeline__box {
    padding-right: 20px;
    padding-left: 0;
}
}

.rtl .timeline .timeline-label {
    float: right;
}
.rtl .timeline .timeline-item {
    float: right;
    clear: right;
}
.rtl .timeline .timeline-item > .timeline-point {
    left: -24px;
    right: inherit;
}
.rtl .timeline .timeline-item {
    padding-left: 30px;
    padding-right: 0;
}
.rtl .timeline .timeline-item > .timeline-event:before {
    left: -15px;
    right: inherit;
    border-left-width: 0;
    border-right-width: 15px;
}
.rtl .timeline .timeline-item > .timeline-event:after {
    left: -14px;
    right: inherit;
    border-left-width: 0;
    border-right-width: 14px;
}
.rtl .timeline .timeline-item.timeline-item-right, .rtl .timeline .timeline-item:nth-of-type(even):not(.timeline-item-left) {
    float: left;
    clear: left;
}
.rtl .timeline .timeline-item.timeline-item-right, .rtl .timeline .timeline-item:nth-of-type(even):not(.timeline-item-left) {
    padding-left: 0;
    padding-right: 30px;
}
.rtl .timeline .timeline-item.timeline-item-right > .timeline-point, .rtl .timeline .timeline-item:nth-of-type(even):not(.timeline-item-left) > .timeline-point {
    right: -24px;
	left: inherit;
}
.rtl .timeline .timeline-item.timeline-item-right > .timeline-event:before, .rtl .timeline .timeline-item:nth-of-type(even):not(.timeline-item-left) > .timeline-event:before, .rtl .timeline .timeline-item.timeline-item-right > .timeline-event:after, .rtl .timeline .timeline-item:nth-of-type(even):not(.timeline-item-left) > .timeline-event:after {
    left: auto !important;
    border-right-width: 0 !important;
}
.rtl .timeline .timeline-item.timeline-item-right > .timeline-event:before, .rtl .timeline .timeline-item:nth-of-type(even):not(.timeline-item-left) > .timeline-event:before {
    right: -15px !important;
    border-left-width: 15px !important;
}
.rtl .timeline .timeline-item.timeline-item-arrow-lg > .timeline-event:after {
    left: -17px;
    right: inherit;
    border-left-width: 0;
    border-right-width: 17px;
}
.rtl .timeline .timeline-item.timeline-item-arrow-lg > .timeline-event:before {
    left: -18px;
    right: inherit;
    border-left-width: 0;
    border-right-width: 18px;
}
.rtl .timeline .timeline-item > .timeline-point.timeline-point-blank {
    left: -12px;
    right: inherit;
}
.rtl .timeline .timeline-item.timeline-item-right > .timeline-point.timeline-point-blank, .rtl .timeline .timeline-item:nth-of-type(even):not(.timeline-item-left) > .timeline-point.timeline-point-blank {
    right: -12px;
}
.rtl .timeline .timeline-item.timeline-item-arrow-sm.timeline-item-right > .timeline-event:before, .rtl .timeline .timeline-item.timeline-item-arrow-sm:nth-of-type(even):not(.timeline-item-left) > .timeline-event:before {
    right: -10px !important;
    left: inherit !important;
    border-left-width: 10px !important;
    border-right-width: 0 !important;
}
.rtl .timeline .timeline-item.timeline-item-arrow-sm.timeline-item-right > .timeline-event:after, .rtl .timeline .timeline-item.timeline-item-arrow-sm:nth-of-type(even):not(.timeline-item-left) > .timeline-event:after {
    right: -9px !important;
    left: inherit !important;
    border-left-width: 9px !important;
    border-right-width: 0 !important;
}
.rtl .timeline.timeline-single-column.timeline .timeline-item {
    padding-right: 72px;
    padding-left: 0;
}
.rtl .timeline.timeline-single-column.timeline:before {
    right: 42px;
	left: inherit;
    margin-right: -1px;
    margin-left: inherit;
}
.rtl .timeline.timeline-single-column.timeline .timeline-item > .timeline-point {
    transform: translateX(50%);
    right: 42px !important;
    left: inherit !important;
    margin-right: 0;
    margin-left: inherit;
}
.rtl .timeline-single-column.timeline .timeline-item.timeline-item-arrow-sm > .timeline-event:before, .rtl .timeline-single-column.timeline .timeline-item.timeline-item-arrow-sm > .timeline-event:after {
    left: auto !important;
    border-right-width: 0 !important;
}
.rtl .timeline-single-column.timeline .timeline-item.timeline-item-arrow-sm > .timeline-event:before {
    right: -10px !important;
    border-left-width: 10px !important;
}
.rtl .timeline.timeline-single-column.timeline .timeline-label {
    transform: translateX(50%);
    margin: 0 42px 20px 0;
}
.rtl .timeline.timeline-single-column.timeline .timeline-item.timeline-item-right, .rtl .timeline.timeline-single-column.timeline .timeline-item:nth-of-type(even):not(.timeline-item-left) {
    padding-right: 72px;
    padding-left: 0;
}
.rtl .timeline.timeline-single-column.timeline .timeline-item > .timeline-event:before, .rtl .timeline.timeline-single-column.timeline .timeline-item > .timeline-event:after {
    left: auto !important;
    border-right-width: 0 !important;
}
.rtl .timeline.timeline-single-column.timeline .timeline-item > .timeline-event:before {
    right: -15px !important;
    border-left-width: 15px !important;
}

@media (max-width: 768px){
.rtl .timeline.timeline:before {
    right: 42px;
	left: inherit;
}
.rtl .timeline.timeline .timeline-label {
    transform: translateX(50%);
    margin: 0 42px 20px 0;
}
.rtl .timeline.timeline .timeline-item {
    padding-right: 72px;
    padding-left: 0;
}
.rtl .timeline.timeline .timeline-item > .timeline-point {
    transform: translateX(50%);
    right: 42px !important;
    margin-right: 0;
}
.rtl .timeline.timeline .timeline-item > .timeline-event:before, .rtl .timeline.timeline .timeline-item > .timeline-event:after {
    left: auto !important;
    border-right-width: 0 !important;
}
.rtl .timeline.timeline .timeline-item > .timeline-event:before {
    right: -15px !important;
    border-left-width: 15px !important;
}	
.rtl .timeline.timeline .timeline-item.timeline-item-right, .rtl .timeline.timeline .timeline-item:nth-of-type(even):not(.timeline-item-left) {
    padding-right: 72px;
    padding-left: 0;
}		
}
.rtl .ribbon-box .ribbon {
    float: right;
    margin-right: -30px;
    margin-left: 0px;
}

.rtl .fontawesome-icon-list .fa-hover i, .rtl .ion-icon-list .ion-hover i {
    padding-left: 10px;
    padding-right: 0;
}

.rtl .btn-toggle.btn-sm.btn-sm:before, .rtl .btn-toggle.btn-sm.btn-sm:after {
    right: 0.4125rem;
	left: inherit;
}
.rtl .dp-divider {
    border-right: 2px solid #ddd!important;
    border-left: none!important;
}
.rtl .media .custom-control [type=checkbox]+label {
    padding-left: 0px;
}
.rtl .jq-has-icon {
    padding: 10px 50px 10px 10px;
	background-position-x: 95%;
}
.rtl .jq-toast-single {
    text-align: right !important;
}

.rtl .close-jq-toast-single {
    left: 7px;
	right: auto;
}
.rtl .myadmin-alert .closed {
    left: 3px;
	right: auto;
}
.rtl .myadmin-alert {
    text-align: right;
}
.rtl .myadmin-alert-img {
    padding-right: 65px;
    padding-left: 12px;
}
.rtl .myadmin-alert .img {
    left: auto;
	right: 12px;
}
.rtl .grid-stack{
	direction: ltr;
}
.rtl .nav.no-gutters > .nav-link:first-child, .rtl .nav.no-gutters .nav-item:first-child .nav-link {
    padding-right: 0;
	padding-left: 1.072rem;
}

.rtl .owl-item .text-left{
	text-align: right !important;
}

.rtl .info-box-content {
    padding: 10px 0 10px 10px;
    margin-right: 90px;
	margin-left: inherit;
}
.rtl .info-box .progress {
    margin: 5px 0 5px -10px;
}
.rtl .info-box-icon {
    float: right;
}
.rtl .small-box .icon {
    left: 10px;
	right: inherit;
}
.rtl .small-box>.small-box-footer {
    text-align: left;
}
.rtl .direct-chat-text {
    margin: 5px 50px 0 0;
}
.rtl .right .direct-chat-text {
    float: left;
}

.rtl .input-group-addon:not(:last-child) {
    border-left: 0;
	border-right: 1px solid #d2d6de;
}

.rtl .bootstrap-select.btn-group .dropdown-toggle .filter-option {
    text-align: right;
}

.rtl .wizard-content .wizard.vertical>.steps {
    float: right;
}

.rtl .dataTables_filter {
    float: left;
}
.rtl .knob {
    margin-left: 0;
    margin-right: -115px;
}
.rtl .product-text .pro-price {
    right: 5px;
    left: auto;
}
.rtl .product-img {
    text-align: right !important;
}
.rtl .ekko-lightbox-nav-overlay a:last-child span {
    text-align: left;
}
.rtl .white-popup-block {
    text-align: right;
}

.rtl .content-bottom {
    border-radius: 25px 0 0 25px;
}
.rtl .content-top-agile {
    border-radius: 0 25px 25px 0;
}
.rtl .content-top-agile:after {
    left: 0;
	right: auto
}
.rtl .auth-2 {
    float: left;
}
.rtl .has-feedback .form-control-feedback {
    left: 0;
	right: auto;
}


.rtl .vtabs .tabs-vertical {
    border-right: none;
    border-left: 1px solid rgba(120, 130, 140, 0.13);
}
.rtl .vtabs .tabs-vertical li .nav-link {
    border-radius: 0 4px 4px 0px;
}
.rtl .customvtab .tabs-vertical li .nav-link.active, .rtl .customvtab .tabs-vertical li .nav-link:hover, .rtl .customvtab .tabs-vertical li .nav-link:focus {
    border-left: 2px solid #3e8ef7;
	border-right: none;
}
.rtl .nav-tabs .nav-item + .nav-item {
    margin-right: 2px;
}

.rtl .nav {
  padding-right: 0;
}

.rtl .navbar-nav .nav-item {
  float: right;
}

.rtl .navbar-nav .nav-item + .nav-item {
  margin-right: 1rem;
  margin-left: inherit;
}

.rtl th {
  text-align: right;
}

.rtl .alert-dismissible {
  padding-right: 1.25rem;
  padding-left: 4rem;
}


.rtl .checkbox label {
  padding-right: 1.25rem;
  padding-left: inherit;
}

.rtl .btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
  border-radius: 0 0.25rem 0.25rem 0;
}

.rtl .btn-group > .btn:last-child:not(:first-child),
.rtl .btn-group > .dropdown-toggle:not(:first-child) {
  border-radius: 0.25rem 0 0 0.25rem;
}

.rtl .btn-group > .btn-group:last-child:not(:first-child) > .btn:first-child {
  border-radius: 0.25rem 0 0 0.25rem;
}

.rtl .custom-control-label::after,
.rtl .custom-control-label::before {
  right: 0;
  left: inherit;
}

.rtl .custom-select {
  padding: 0.375rem 0.75rem 0.375rem 1.75rem;
  background: #fff url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat left 0.75rem center;
  background-size: 8px 10px;
}

.rtl .input-group > .input-group-append:last-child > .btn:not(:last-child):not(.dropdown-toggle),
.rtl .input-group > .input-group-append:last-child > .input-group-text:not(:last-child),
.rtl .input-group > .input-group-append:not(:last-child) > .btn,
.rtl .input-group > .input-group-append:not(:last-child) > .input-group-text,
.rtl .input-group > .input-group-prepend > .btn,
.rtl .input-group > .input-group-prepend > .input-group-text {
  border-radius: 0 0.25rem 0.25rem 0;
}

.rtl .input-group > .input-group-append > .btn,
.rtl .input-group > .input-group-append > .input-group-text,
.rtl .input-group > .input-group-prepend:first-child > .btn:not(:first-child),
.rtl .input-group > .input-group-prepend:first-child > .input-group-text:not(:first-child),
.rtl .input-group > .input-group-prepend:not(:first-child) > .btn,
.rtl .input-group > .input-group-prepend:not(:first-child) > .input-group-text {
  border-radius: 0.25rem 0 0 0.25rem;
}

.rtl .input-group > .custom-select:not(:first-child),
.rtl .input-group > .form-control:not(:first-child) {
  border-radius: 0.25rem 0 0 0.25rem;
}

.rtl .input-group > .custom-select:not(:last-child),
.rtl .input-group > .form-control:not(:last-child) {
  border-radius: 0 0.25rem 0.25rem 0;
}

.rtl .input-group > .custom-select:not(:last-child):not(:first-child),
.rtl .input-group > .form-control:not(:last-child):not(:first-child) {
  border-radius: 0;
}

.rtl .custom-control {
  padding-right: 0;
  padding-left: inherit;
  margin-right: inherit;
  margin-left: 1rem;
}

.rtl .custom-control-indicator {
  right: 0;
  left: inherit;
}

.rtl .custom-file-label::after {
  right: initial;
  left: -1px;
  border-radius: .25rem 0 0 .25rem;
}

.rtl .radio input,
.rtl .radio-inline,
.rtl .checkbox input,
.rtl .checkbox-inline input {
  margin-right: -1.25rem;
  margin-left: inherit;
}

.rtl .list-group {
  padding-right: 0;
}

.rtl .close {
  float: left;
}

.rtl .modal-header .close {
  margin: -15px auto -15px -15px;
}

.rtl .modal-footer > :not(:first-child) {
  margin-right: .25rem;
}

.rtl .alert-dismissible .close {
  right: inherit;
  left: 0;
}

.rtl .dropdown-toggle::after {
  margin-right: .255em;
  margin-left: 0;
}

.rtl .form-check-input {
  margin-right: -1.25rem;
  margin-left: inherit;
}

.rtl .form-check-label {
  padding-right: 1.25rem;
  padding-left: inherit;
}

.rtl .offset-1 {
  margin-right: 8.333333%;
  margin-left: 0;
}

.rtl .offset-2 {
  margin-right: 16.666667%;
  margin-left: 0;
}

.rtl .offset-3 {
  margin-right: 25%;
  margin-left: 0;
}

.rtl .offset-4 {
  margin-right: 33.333333%;
  margin-left: 0;
}

.rtl .offset-5 {
  margin-right: 41.666667%;
  margin-left: 0;
}

.rtl .offset-6 {
  margin-right: 50%;
  margin-left: 0;
}

.rtl .offset-7 {
  margin-right: 58.333333%;
  margin-left: 0;
}

.rtl .offset-8 {
  margin-right: 66.666667%;
  margin-left: 0;
}

.rtl .offset-9 {
  margin-right: 75%;
  margin-left: 0;
}

.rtl .offset-10 {
  margin-right: 83.333333%;
  margin-left: 0;
}

.rtl .offset-11 {
  margin-right: 91.666667%;
  margin-left: 0;
}

@media (min-width: 576px) {
  .rtl .offset-sm-0 {
    margin-right: 0;
    margin-left: 0;
  }
  .rtl .offset-sm-1 {
    margin-right: 8.333333%;
    margin-left: 0;
  }
  .rtl .offset-sm-2 {
    margin-right: 16.666667%;
    margin-left: 0;
  }
  .rtl .offset-sm-3 {
    margin-right: 25%;
    margin-left: 0;
  }
  .rtl .offset-sm-4 {
    margin-right: 33.333333%;
    margin-left: 0;
  }
  .rtl .offset-sm-5 {
    margin-right: 41.666667%;
    margin-left: 0;
  }
  .rtl .offset-sm-6 {
    margin-right: 50%;
    margin-left: 0;
  }
  .rtl .offset-sm-7 {
    margin-right: 58.333333%;
    margin-left: 0;
  }
  .rtl .offset-sm-8 {
    margin-right: 66.666667%;
    margin-left: 0;
  }
  .rtl .offset-sm-9 {
    margin-right: 75%;
    margin-left: 0;
  }
  .rtl .offset-sm-10 {
    margin-right: 83.333333%;
    margin-left: 0;
  }
  .rtl .offset-sm-11 {
    margin-right: 91.666667%;
    margin-left: 0;
  }
}

@media (min-width: 768px) {
  .rtl .offset-md-0 {
    margin-right: 0;
    margin-left: 0;
  }
  .rtl .offset-md-1 {
    margin-right: 8.333333%;
    margin-left: 0;
  }
  .rtl .offset-md-2 {
    margin-right: 16.666667%;
    margin-left: 0;
  }
  .rtl .offset-md-3 {
    margin-right: 25%;
    margin-left: 0;
  }
  .rtl .offset-md-4 {
    margin-right: 33.333333%;
    margin-left: 0;
  }
  .rtl .offset-md-5 {
    margin-right: 41.666667%;
    margin-left: 0;
  }
  .rtl .offset-md-6 {
    margin-right: 50%;
    margin-left: 0;
  }
  .rtl .offset-md-7 {
    margin-right: 58.333333%;
    margin-left: 0;
  }
  .rtl .offset-md-8 {
    margin-right: 66.666667%;
    margin-left: 0;
  }
  .rtl .offset-md-9 {
    margin-right: 75%;
    margin-left: 0;
  }
  .rtl .offset-md-10 {
    margin-right: 83.333333%;
    margin-left: 0;
  }
  .rtl .offset-md-11 {
    margin-right: 91.666667%;
    margin-left: 0;
  }
}

@media (min-width: 992px) {
  .rtl .offset-lg-0 {
    margin-right: 0;
    margin-left: 0;
  }
  .rtl .offset-lg-1 {
    margin-right: 8.333333%;
    margin-left: 0;
  }
  .rtl .offset-lg-2 {
    margin-right: 16.666667%;
    margin-left: 0;
  }
  .rtl .offset-lg-3 {
    margin-right: 25%;
    margin-left: 0;
  }
  .rtl .offset-lg-4 {
    margin-right: 33.333333%;
    margin-left: 0;
  }
  .rtl .offset-lg-5 {
    margin-right: 41.666667%;
    margin-left: 0;
  }
  .rtl .offset-lg-6 {
    margin-right: 50%;
    margin-left: 0;
  }
  .rtl .offset-lg-7 {
    margin-right: 58.333333%;
    margin-left: 0;
  }
  .rtl .offset-lg-8 {
    margin-right: 66.666667%;
    margin-left: 0;
  }
  .rtl .offset-lg-9 {
    margin-right: 75%;
    margin-left: 0;
  }
  .rtl .offset-lg-10 {
    margin-right: 83.333333%;
    margin-left: 0;
  }
  .rtl .offset-lg-11 {
    margin-right: 91.666667%;
    margin-left: 0;
  }
}

@media (min-width: 1200px) {
  .rtl .offset-xl-0 {
    margin-right: 0;
    margin-left: 0;
  }
  .rtl .offset-xl-1 {
    margin-right: 8.333333%;
    margin-left: 0;
  }
  .rtl .offset-xl-2 {
    margin-right: 16.666667%;
    margin-left: 0;
  }
  .rtl .offset-xl-3 {
    margin-right: 25%;
    margin-left: 0;
  }
  .rtl .offset-xl-4 {
    margin-right: 33.333333%;
    margin-left: 0;
  }
  .rtl .offset-xl-5 {
    margin-right: 41.666667%;
    margin-left: 0;
  }
  .rtl .offset-xl-6 {
    margin-right: 50%;
    margin-left: 0;
  }
  .rtl .offset-xl-7 {
    margin-right: 58.333333%;
    margin-left: 0;
  }
  .rtl .offset-xl-8 {
    margin-right: 66.666667%;
    margin-left: 0;
  }
  .rtl .offset-xl-9 {
    margin-right: 75%;
    margin-left: 0;
  }
  .rtl .offset-xl-10 {
    margin-right: 83.333333%;
    margin-left: 0;
  }
  .rtl .offset-xl-11 {
    margin-right: 91.666667%;
    margin-left: 0;
  }
}

.rtl .mr-0,
.rtl .mx-0 {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.rtl .ml-0,
.rtl .mx-0 {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.rtl .mr-1,
.rtl .mx-1 {
  margin-right: 0 !important;
  margin-left: 0.25rem !important;
}

.rtl .ml-1,
.rtl .mx-1 {
  margin-left: 0 !important;
  margin-right: 0.25rem !important;
}

.rtl .mr-2,
.rtl .mx-2 {
  margin-right: 0 !important;
  margin-left: 0.5rem !important;
}

.rtl .ml-2,
.rtl .mx-2 {
  margin-left: 0 !important;
  margin-right: 0.5rem !important;
}


.rtl .pr-0,
.rtl .px-0 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.rtl .pl-0,
.rtl .px-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.rtl .pr-1,
.rtl .px-1 {
  padding-right: 0 !important;
  padding-left: 0.25rem !important;
}

.rtl .pl-1,
.rtl .px-1 {
  padding-left: 0 !important;
  padding-right: 0.25rem !important;
}

.rtl .pr-2,
.rtl .px-2 {
  padding-right: 0 !important;
  padding-left: 0.5rem !important;
}

.rtl .pl-2,
.rtl .px-2 {
  padding-left: 0 !important;
  padding-right: 0.5rem !important;
}



@media (min-width: 576px) {
  .rtl .mr-sm-0,
  .rtl .mx-sm-0 {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
  .rtl .ml-sm-0,
  .rtl .mx-sm-0 {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .rtl .mr-sm-1,
  .rtl .mx-sm-1 {
    margin-right: 0 !important;
    margin-left: 0.25rem !important;
  }
  .rtl .ml-sm-1,
  .rtl .mx-sm-1 {
    margin-left: 0 !important;
    margin-right: 0.25rem !important;
  }
  .rtl .mr-sm-2,
  .rtl .mx-sm-2 {
    margin-right: 0 !important;
    margin-left: 0.5rem !important;
  }
  .rtl .ml-sm-2,
  .rtl .mx-sm-2 {
    margin-left: 0 !important;
    margin-right: 0.5rem !important;
  }
  .rtl .mr-sm-3,
  .rtl .mx-sm-3 {
    margin-right: 0 !important;
    margin-left: 1rem !important;
  }
  .rtl .ml-sm-3,
  .rtl .mx-sm-3 {
    margin-left: 0 !important;
    margin-right: 1rem !important;
  }
  .rtl .mr-sm-4,
  .rtl .mx-sm-4 {
    margin-right: 0 !important;
    margin-left: 1.5rem !important;
  }
  .rtl .ml-sm-4,
  .rtl .mx-sm-4 {
    margin-left: 0 !important;
    margin-right: 1.5rem !important;
  }
  .rtl .mr-sm-5,
  .rtl .mx-sm-5 {
    margin-right: 0 !important;
    margin-left: 3rem !important;
  }
  .rtl .ml-sm-5,
  .rtl .mx-sm-5 {
    margin-left: 0 !important;
    margin-right: 3rem !important;
  }
  .rtl .pr-sm-0,
  .rtl .px-sm-0 {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
  .rtl .pl-sm-0,
  .rtl .px-sm-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .rtl .pr-sm-1,
  .rtl .px-sm-1 {
    padding-right: 0 !important;
    padding-left: 0.25rem !important;
  }
  .rtl .pl-sm-1,
  .rtl .px-sm-1 {
    padding-left: 0 !important;
    padding-right: 0.25rem !important;
  }
  .rtl .pr-sm-2,
  .rtl .px-sm-2 {
    padding-right: 0 !important;
    padding-left: 0.5rem !important;
  }
  .rtl .pl-sm-2,
  .rtl .px-sm-2 {
    padding-left: 0 !important;
    padding-right: 0.5rem !important;
  }
  .rtl .pr-sm-3,
  .rtl .px-sm-3 {
    padding-right: 0 !important;
    padding-left: 1rem !important;
  }
  .rtl .pl-sm-3,
  .rtl .px-sm-3 {
    padding-left: 0 !important;
    padding-right: 1rem !important;
  }
  .rtl .pr-sm-4,
  .rtl .px-sm-4 {
    padding-right: 0 !important;
    padding-left: 1.5rem !important;
  }
  .rtl .pl-sm-4,
  .rtl .px-sm-4 {
    padding-left: 0 !important;
    padding-right: 1.5rem !important;
  }
  .rtl .pr-sm-5,
  .rtl .px-sm-5 {
    padding-right: 0 !important;
    padding-left: 3rem !important;
  }
  .rtl .pl-sm-5,
  .rtl .px-sm-5 {
    padding-left: 0 !important;
    padding-right: 3rem !important;
  }
  .rtl .mr-sm-auto,
  .rtl .mx-sm-auto {
    margin-right: 0 !important;
    margin-left: auto !important;
  }
  .rtl .ml-sm-auto,
  .rtl .mx-sm-auto {
    margin-right: auto !important;
    margin-left: 0 !important;
  }
}

@media (min-width: 768px) {
  .rtl .mr-md-0,
  .rtl .mx-md-0 {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
  .rtl .ml-md-0,
  .rtl .mx-md-0 {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .rtl .mr-md-1,
  .rtl .mx-md-1 {
    margin-right: 0 !important;
    margin-left: 0.25rem !important;
  }
  .rtl .ml-md-1,
  .rtl .mx-md-1 {
    margin-left: 0 !important;
    margin-right: 0.25rem !important;
  }
  .rtl .mr-md-2,
  .rtl .mx-md-2 {
    margin-right: 0 !important;
    margin-left: 0.5rem !important;
  }
  .rtl .ml-md-2,
  .rtl .mx-md-2 {
    margin-left: 0 !important;
    margin-right: 0.5rem !important;
  }
  .rtl .mr-md-3,
  .rtl .mx-md-3 {
    margin-right: 0 !important;
    margin-left: 1rem !important;
  }
  .rtl .ml-md-3,
  .rtl .mx-md-3 {
    margin-left: 0 !important;
    margin-right: 1rem !important;
  }
  .rtl .mr-md-4,
  .rtl .mx-md-4 {
    margin-right: 0 !important;
    margin-left: 1.5rem !important;
  }
  .rtl .ml-md-4,
  .rtl .mx-md-4 {
    margin-left: 0 !important;
    margin-right: 1.5rem !important;
  }
  .rtl .mr-md-5,
  .rtl .mx-md-5 {
    margin-right: 0 !important;
    margin-left: 3rem !important;
  }
  .rtl .ml-md-5,
  .rtl .mx-md-5 {
    margin-left: 0 !important;
    margin-right: 3rem !important;
  }
  .rtl .pr-md-0,
  .rtl .px-md-0 {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
  .rtl .pl-md-0,
  .rtl .px-md-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .rtl .pr-md-1,
  .rtl .px-md-1 {
    padding-right: 0 !important;
    padding-left: 0.25rem !important;
  }
  .rtl .pl-md-1,
  .rtl .px-md-1 {
    padding-left: 0 !important;
    padding-right: 0.25rem !important;
  }
  .rtl .pr-md-2,
  .rtl .px-md-2 {
    padding-right: 0 !important;
    padding-left: 0.5rem !important;
  }
  .rtl .pl-md-2,
  .rtl .px-md-2 {
    padding-left: 0 !important;
    padding-right: 0.5rem !important;
  }
  .rtl .pr-md-3,
  .rtl .px-md-3 {
    padding-right: 0 !important;
    padding-left: 1rem !important;
  }
  .rtl .pl-md-3,
  .rtl .px-md-3 {
    padding-left: 0 !important;
    padding-right: 1rem !important;
  }
  .rtl .pr-md-4,
  .rtl .px-md-4 {
    padding-right: 0 !important;
    padding-left: 1.5rem !important;
  }
  .rtl .pl-md-4,
  .rtl .px-md-4 {
    padding-left: 0 !important;
    padding-right: 1.5rem !important;
  }
  .rtl .pr-md-5,
  .rtl .px-md-5 {
    padding-right: 0 !important;
    padding-left: 3rem !important;
  }
  .rtl .pl-md-5,
  .rtl .px-md-5 {
    padding-left: 0 !important;
    padding-right: 3rem !important;
  }
  .rtl .mr-md-auto,
  .rtl .mx-md-auto {
    margin-right: 0 !important;
    margin-left: auto !important;
  }
  .rtl .ml-md-auto,
  .rtl .mx-md-auto {
    margin-right: auto !important;
    margin-left: 0 !important;
  }
}

@media (min-width: 992px) {
  .rtl .mr-lg-0,
  .rtl .mx-lg-0 {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
  .rtl .ml-lg-0,
  .rtl .mx-lg-0 {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .rtl .mr-lg-1,
  .rtl .mx-lg-1 {
    margin-right: 0 !important;
    margin-left: 0.25rem !important;
  }
  .rtl .ml-lg-1,
  .rtl .mx-lg-1 {
    margin-left: 0 !important;
    margin-right: 0.25rem !important;
  }
  .rtl .mr-lg-2,
  .rtl .mx-lg-2 {
    margin-right: 0 !important;
    margin-left: 0.5rem !important;
  }
  .rtl .ml-lg-2,
  .rtl .mx-lg-2 {
    margin-left: 0 !important;
    margin-right: 0.5rem !important;
  }
  .rtl .mr-lg-3,
  .rtl .mx-lg-3 {
    margin-right: 0 !important;
    margin-left: 1rem !important;
  }
  .rtl .ml-lg-3,
  .rtl .mx-lg-3 {
    margin-left: 0 !important;
    margin-right: 1rem !important;
  }
  .rtl .mr-lg-4,
  .rtl .mx-lg-4 {
    margin-right: 0 !important;
    margin-left: 1.5rem !important;
  }
  .rtl .ml-lg-4,
  .rtl .mx-lg-4 {
    margin-left: 0 !important;
    margin-right: 1.5rem !important;
  }
  .rtl .mr-lg-5,
  .rtl .mx-lg-5 {
    margin-right: 0 !important;
    margin-left: 3rem !important;
  }
  .rtl .ml-lg-5,
  .rtl .mx-lg-5 {
    margin-left: 0 !important;
    margin-right: 3rem !important;
  }
  .rtl .pr-lg-0,
  .rtl .px-lg-0 {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
  .rtl .pl-lg-0,
  .rtl .px-lg-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .rtl .pr-lg-1,
  .rtl .px-lg-1 {
    padding-right: 0 !important;
    padding-left: 0.25rem !important;
  }
  .rtl .pl-lg-1,
  .rtl .px-lg-1 {
    padding-left: 0 !important;
    padding-right: 0.25rem !important;
  }
  .rtl .pr-lg-2,
  .rtl .px-lg-2 {
    padding-right: 0 !important;
    padding-left: 0.5rem !important;
  }
  .rtl .pl-lg-2,
  .rtl .px-lg-2 {
    padding-left: 0 !important;
    padding-right: 0.5rem !important;
  }
  .rtl .pr-lg-3,
  .rtl .px-lg-3 {
    padding-right: 0 !important;
    padding-left: 1rem !important;
  }
  .rtl .pl-lg-3,
  .rtl .px-lg-3 {
    padding-left: 0 !important;
    padding-right: 1rem !important;
  }
  .rtl .pr-lg-4,
  .rtl .px-lg-4 {
    padding-right: 0 !important;
    padding-left: 1.5rem !important;
  }
  .rtl .pl-lg-4,
  .rtl .px-lg-4 {
    padding-left: 0 !important;
    padding-right: 1.5rem !important;
  }
  .rtl .pr-lg-5,
  .rtl .px-lg-5 {
    padding-right: 0 !important;
    padding-left: 3rem !important;
  }
  .rtl .pl-lg-5,
  .rtl .px-lg-5 {
    padding-left: 0 !important;
    padding-right: 3rem !important;
  }
  .rtl .mr-lg-auto,
  .rtl .mx-lg-auto {
    margin-right: 0 !important;
    margin-left: auto !important;
  }
  .rtl .ml-lg-auto,
  .rtl .mx-lg-auto {
    margin-right: auto !important;
    margin-left: 0 !important;
  }
}

@media (min-width: 1200px) {
  .rtl .mr-xl-0,
  .rtl .mx-xl-0 {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
  .rtl .ml-xl-0,
  .rtl .mx-xl-0 {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .rtl .mr-xl-1,
  .rtl .mx-xl-1 {
    margin-right: 0 !important;
    margin-left: 0.25rem !important;
  }
  .rtl .ml-xl-1,
  .rtl .mx-xl-1 {
    margin-left: 0 !important;
    margin-right: 0.25rem !important;
  }
  .rtl .mr-xl-2,
  .rtl .mx-xl-2 {
    margin-right: 0 !important;
    margin-left: 0.5rem !important;
  }
  .rtl .ml-xl-2,
  .rtl .mx-xl-2 {
    margin-left: 0 !important;
    margin-right: 0.5rem !important;
  }
  .rtl .mr-xl-3,
  .rtl .mx-xl-3 {
    margin-right: 0 !important;
    margin-left: 1rem !important;
  }
  .rtl .ml-xl-3,
  .rtl .mx-xl-3 {
    margin-left: 0 !important;
    margin-right: 1rem !important;
  }
  .rtl .mr-xl-4,
  .rtl .mx-xl-4 {
    margin-right: 0 !important;
    margin-left: 1.5rem !important;
  }
  .rtl .ml-xl-4,
  .rtl .mx-xl-4 {
    margin-left: 0 !important;
    margin-right: 1.5rem !important;
  }
  .rtl .mr-xl-5,
  .rtl .mx-xl-5 {
    margin-right: 0 !important;
    margin-left: 3rem !important;
  }
  .rtl .ml-xl-5,
  .rtl .mx-xl-5 {
    margin-left: 0 !important;
    margin-right: 3rem !important;
  }
  .rtl .pr-xl-0,
  .rtl .px-xl-0 {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
  .rtl .pl-xl-0,
  .rtl .px-xl-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .rtl .pr-xl-1,
  .rtl .px-xl-1 {
    padding-right: 0 !important;
    padding-left: 0.25rem !important;
  }
  .rtl .pl-xl-1,
  .rtl .px-xl-1 {
    padding-left: 0 !important;
    padding-right: 0.25rem !important;
  }
  .rtl .pr-xl-2,
  .rtl .px-xl-2 {
    padding-right: 0 !important;
    padding-left: 0.5rem !important;
  }
  .rtl .pl-xl-2,
  .rtl .px-xl-2 {
    padding-left: 0 !important;
    padding-right: 0.5rem !important;
  }
  .rtl .pr-xl-3,
  .rtl .px-xl-3 {
    padding-right: 0 !important;
    padding-left: 1rem !important;
  }
  .rtl .pl-xl-3,
  .rtl .px-xl-3 {
    padding-left: 0 !important;
    padding-right: 1rem !important;
  }
  .rtl .pr-xl-4,
  .rtl .px-xl-4 {
    padding-right: 0 !important;
    padding-left: 1.5rem !important;
  }
  .rtl .pl-xl-4,
  .rtl .px-xl-4 {
    padding-left: 0 !important;
    padding-right: 1.5rem !important;
  }
  .rtl .pr-xl-5,
  .rtl .px-xl-5 {
    padding-right: 0 !important;
    padding-left: 3rem !important;
  }
  .rtl .pl-xl-5,
  .rtl .px-xl-5 {
    padding-left: 0 !important;
    padding-right: 3rem !important;
  }
  .rtl .mr-xl-auto,
  .rtl .mx-xl-auto {
    margin-right: 0 !important;
    margin-left: auto !important;
  }
  .rtl .ml-xl-auto,
  .rtl .mx-xl-auto {
    margin-right: auto !important;
    margin-left: 0 !important;
  }
}

