{% extends 'base.html' %}
{% load widget_tweaks %}


{% block content %}


		<div class="content-header">
			<div class="d-flex align-items-center">
				<div class="mr-auto">
					<h3 class="page-title">Invoice List</h3>
					<div class="d-inline-block align-items-center">
						<nav>
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i></a></li>
								<li class="breadcrumb-item" aria-current="page">Invoicing</li>
								<li class="breadcrumb-item active" aria-current="page">Invoice List
								</li>
							</ol>
						</nav>
					</div>
				</div>
				<div class="right-title">
				</div>
			</div>
		</div>

	{% if perms.workorder.add_invoice or perms.workorder.change_invoice or perms.workorder.delete_invoice %}

<section class="content">

		  <div class="row">
			<div class="col-xl-4 col-md-6 col-12 ">
				<div class="box box-inverse box-success">
				  <div class="box-body">
					<div class="flexbox">
					</div>

					<div class="text-center my-2">
					  <div class="font-size-60"> <a href="/invoice/list/?invoice_requiring_approval">{{ not_approved }}</a> </div>
					  <span>Invoice Requiring Approval</span>
					</div>
				  </div>
				</div>
			</div>
			<!-- /.col -->
			<div class="col-xl-4 col-md-6 col-12 ">
				<div class="box box-inverse box-primary">
				  <div class="box-body">
					<div class="flexbox">
					</div>

					<div class="text-center my-2">
					  <div class="font-size-60"> <a href="/invoice/list/?po_invoice_not_sent_but_approved">{{ inv_not_sent }}</a> </div>
					  <span>PO Invoice not sent but approved</span>
					</div>
				  </div>
				</div>
			</div>
			<!-- /.col -->

			<div class="col-xl-4 col-md-6 col-12">
				<div class="box box-inverse box-danger">
				  <div class="box-body">
					<div class="flexbox">
					</div>

					<div class="text-center my-2">
					  <div class="font-size-60">0</div>
					  <span>Invoices where the Costs <= Job Costs</span>
					</div>
				  </div>

				</div>
			</div>
			<!-- /.col -->
<!-- 			<div class="col-xl-3 col-md-6 col-12">
				<div class="box box-inverse box-warning">
				  <div class="box-body">
					<div class="flexbox">
					  <h5>Pending Invoice</h5>
					</div>

					<div class="text-center my-2">
					  <div class="font-size-60">00</div>
					  <span>Pending</span>
					</div>
				  </div>
				</div>
			</div> -->
			<!-- /.col -->

		  </div>

		  <div class="row">
				<div class="col-12">
					<div class="box">
						<div class="box-header with-border">
							<h4 class="box-title">Invoice List</h4>
							<h6 class="box-subtitle">Export Invoice List to Copy, CSV, Excel, PDF & Print</h6>
						</div>
						<div class="box-body">
							<div class="table-responsive">

								<table id="example" class="table table-lg invoice-archive">
									<thead>
										<tr>
											<th>#ID</th>
											<th>Invoice Work Order</th>
											<th>Invoice Date</th>
											<th>Invoice Status</th>
											<th>Expected Payment Date</th>
											<th>Invoice Customer</th>
											<th>Approved?</th>
											<th class="text-center">Actions</th>
										</tr>
									</thead>
									<tbody>

									{% for invoice in invoice_list %}
										<tr>
											<td><a href="#" id="invoice_edit" data-url="{% url 'invoice_update' invoice.id %}">#{{ invoice.id }}</a></td>
											<td>{{ invoice.work_order }}</td>
											<td>{% if invoice.invoice_date %}{{ invoice.invoice_date|date:"D d/m/y H:i" }}{% else %}--{% endif %}</td>
											<td>{% if invoice.invoice_status %}{{ invoice.invoice_status }}{% else %}--{% endif %}</td>
											<td>{% if invoice.expected_payment_date %}{{ invoice.expected_payment_date|date:"D d/m/y H:i" }}{% else %}--{% endif %}</td>
											<td>{{ invoice.invoice_customer }} </td>
											<td>{% if invoice.approved %}Yes{% else %}No{% endif %} </td>
											<td class="text-center">
												<div class="list-icons d-inline-flex">
													<div class="list-icons-item dropdown">
														<a href="#" class="list-icons-item dropdown-toggle" data-toggle="dropdown"><i class="fa fa-file-text"></i></a>
														<div class="dropdown-menu dropdown-menu-right">
															<a href="#" id="invoice_edit" data-url="{% url 'invoice_update' invoice.id %}" class="dropdown-item"><i class="fa fa-pencil" ></i> Edit</a>
															{% if not invoice.invoice_status == "Paid" %}
															<a href="{% url 'invoice_paid' invoice.id %}" data-url="{% url 'invoice_update' invoice.id %}" class="dropdown-item"><i class="fa fa-money" ></i>Mark as Paid</a>
															{% endif %}
															{% if not invoice.send_copy_tick_box %}
															<a href="{% url 'invoice_sent' invoice.id %}"  data-url="{% url 'invoice_update' invoice.id %}" class="dropdown-item"><i class="fa fa-file" ></i>Mark as Sent</a>
															{% endif %}
															{% if not invoice.approved %}
															<a href="{% url 'invoice_approved' invoice.id %}" class="dropdown-item"><i class="mdi mdi-check"></i>Approve</a>
															{% endif %}

														</div>
													</div>
												</div>
											</td>
										</tr>

										{% endfor %}



									</tbody>
								</table>

							</div>
						</div>
					</div>
				</div>
			</div>
		  <!-- /.row -->

		</section>


<div id="editcontainer"></div>

      {% else %}

  <div class="col-sm-6" style="margin-top: 30px">
	<div class="alert alert-danger">
	  <strong>Permission Denied!</strong> You do not have access this section.
	</div>
  </div>

  {% endif %}


{% endblock %}
