{% extends 'base.html' %}
{% load widget_tweaks %}


{% block content %}


		<div class="content-header">
			<div class="d-flex align-items-center">
				<div class="mr-auto">
					<h3 class="page-title">Customer List</h3>
					<div class="d-inline-block align-items-center">
						<nav>
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i></a></li>
								<li class="breadcrumb-item" aria-current="page">Customer</li>
								<li class="breadcrumb-item active" aria-current="page">Customer List
								</li>
							</ol>
						</nav>
					</div>
				</div>
				<div class="right-title">
				</div>
			</div>
		</div>

	{% if perms.workorder.add_customer or perms.workorder.change_customer or perms.workorder.delete_customer %}

<section class="content">


		  <div class="row">
				<div class="col-12">
					<div class="box">
						<div class="box-header with-border">
						<div class="pull-right">
							<button type="button" data-toggle="modal" data-target="#myModal" class="btn btn-info">Create Customer/Vendor</button>
						</div>
							<h4 class="box-title">Customer List</h4>
							<h6 class="box-subtitle">Export Customer List to Copy, CSV, Excel, PDF & Print</h6>
						</div>
						<div class="box-body">
							<div class="table-responsive">

								<table id="example" class="table table-lg invoice-archive table-hover">
									<thead>
										<tr>
											<th>#</th>
											<th>Customer Name</th>
											<th>Customer ABN</th>
											<th>Customer Contact</th>
											<th>Customer Email</th>
											<th>Customer Address</th>
											<th>Customer Phone Number</th>
											<th class="text-center">Actions</th>
										</tr>
									</thead>
									<tbody>

									{% for customer in customer_list %}
										<tr>
											<td><a href="#" id="customer_edit" data-url = "{% url 'customer_update' customer.id %}">#{{ customer.id }}</a></td>
											<td>{{ customer.customer_name }}</td>
											<td> {{ customer.customer_abn }}	</td>

											<td>{{ customer.customer_contact }}</td>
											<td>
												{{ customer.customer_email }}
											</td>

											<td>

												{{ customer.customer_address }}
											</td>
											<td>
												{{ customer.customer_number }}
											</td>
											<td class="text-center">
												<div class="list-icons d-inline-flex">
													<div class="list-icons-item dropdown">
														<a href="#" class="list-icons-item dropdown-toggle" data-toggle="dropdown"><i class="fa fa-file-text"></i></a>
														<div class="dropdown-menu dropdown-menu-right">
															<a href="#" class="dropdown-item" id="customer_edit" data-url = "{% url 'customer_update' customer.id %}">
																<i class="fa fa-pencil"></i> Edit</a>
															<a href="{% url 'customer_delete' customer.id %}" class="dropdown-item"><i class="fa fa-remove"></i> Remove</a>
														</div>
													</div>
												</div>
											</td>
										</tr>

										{% endfor %}



									</tbody>
								</table>

							</div>
						</div>
					</div>
				</div>
			</div>
		  <!-- /.row -->

		</section>


<div class="modal fade" id="myModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Create Customer</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">


  <form action="{% url 'customer_create' %}" method="POST" enctype="multipart/form-data">{% csrf_token %}


<div class="row">
	<div class="col-sm-6">
		<div class="form-group">
      		<label>*Customer Name:</label>
        	{% render_field customer_form.customer_name class="form-control" %}
    	</div>
 	</div>

	<div class="col-sm-6">
		 <div class="form-group">
	      	<label>Customer ABN:</label>
	        {% render_field customer_form.customer_abn class="form-control" %}
	      </div>
	</div>
</div>

<div class="row">
	<div class="col-sm-6">
		<div class="form-group">
      		<label>*Customer Contact:</label>
        	{% render_field customer_form.customer_contact class="form-control" %}
    	</div>
 	</div>

	<div class="col-sm-6">
		 <div class="form-group">
	      	<label>*Customer Email:</label>
	        {% render_field customer_form.customer_email class="form-control" %}
	      </div>
	</div>
</div>

<div class="row">
	<div class="col-sm-6">
		<div class="form-group">
      		<label>*Customer Address:</label>
        	{% render_field customer_form.customer_address class="form-control" rows="1"  %}
    	</div>
 	</div>

	<div class="col-sm-6">
		 <div class="form-group">
	      	<label>*Customer Phone Number:</label>
	        {% render_field customer_form.customer_number class="form-control" %}
	      </div>
	</div>
</div>

<div class="row">
	<div class="col-sm-6">
		<div class="form-group">
      		<label>Customer Contact 1:</label>
        	{% render_field customer_form.customer_contact1 class="form-control" %}
    	</div>
 	</div>

	<div class="col-sm-6">
		 <div class="form-group">
	      	<label>Customer Address 1:</label>
	        {% render_field customer_form.customer_address1 class="form-control" rows="1" %}
	      </div>
	</div>
</div>

<div class="row">
	<div class="col-sm-6">
		<div class="form-group">
      		<label>Customer Phone Number 1:</label>
        	{% render_field customer_form.customer_number1 class="form-control" %}
    	</div>
 	</div>

	<div class="col-sm-6">
		 <div class="form-group">
	      	<label>Is vendor ?</label>
	        {% render_field customer_form.is_vendor style="left: 90px;opacity: 100;margin-top: 10px;" %}
	      </div>
	</div>
</div>

  <p class="top10">
  	<button type="submit" class="btn btn-primary pull-right">Submit</button>
  	<button type="button" class="btn btn-danger pull-right right10" data-dismiss="modal">Close</button>
  </p>



  </form>




        </div>


      </div>
    </div>
  </div>

  <div id="editcontainer"></div>

    {% else %}

  <div class="col-sm-6" style="margin-top: 30px">
	<div class="alert alert-danger">
	  <strong>Permission Denied!</strong> You do not have access this section.
	</div>
  </div>

  {% endif %}

{% endblock %}
